@import "../../../scss/vars";
@import "../../../scss/mixins";

section.voucher {
  background: none;
  padding-top: 50px;

  .container {
    @include b(600) {
      padding: 0 10px;
    }
  }

  .text-center {
    text-align: center !important;
  }

  .content {
    &-block {
      display: flex;
      justify-content: space-between;

      @include b(600) {
        flex-direction: column;
      }
    }
  }

  .page {
    &-text {
      &-title {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: bold;
        color: #414B53;

        @include b(600) {
          margin-bottom: 20px;
        }

        &:after {
          content: '';
          height: 2px;
          width: 90px;
          background-color: $brown-red;
          margin-top: 20px;
        }
      }
    }

    &-btn {
      border-radius: 5px;
      min-width: 200px;
      min-height: 50px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      letter-spacing: 1px;
      border: none;
      transition: 0.4s ease;

      &:hover {
        transform: scale(0.97);
        transition: 0.4s ease;
        cursor: pointer;
      }

      &-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;

        @include b(450) {
          grid-template-columns: 1fr;
        }
      }

      &-brown {
        background-color: $brown-red;

        &:hover {
          box-shadow: 0px 0px 15px -4px $brown-red;
        }
      }

      &-gold {
        background-color: $gold;

        &:hover {
          box-shadow: 0px 0px 15px -4px $gold;
        }
      }
    }

    &-table {
      margin-top: 50px;
      width: 100%;
      border-collapse: collapse;

      @include b(450) {
        margin-top: 30px;
      }

      &-wrap {
        width: 100%;

        @include b(1100) {
          overflow-x: scroll;
        }
      }

      td, tr, th {
        border: none;
      }

      &-head {
        background-color: $gold-2;

        th {
          color: $brown-red;
          font-weight: bold;
          font-size: 16px;
          padding: 15px 15px;
          text-align: left;
          border-bottom: 1px solid #E2E2E2;
        }
      }

      &-text {
        &-accent {
          color: $brown-red;
        }
      }

      &-active {
        display: flex;
        width: 100%;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../../assets/img/icons/no.svg");
        background-position: center;

        &-yes {
          background-image: url("../../../assets/img/icons/yes.svg");
        }
      }

      &-body {
        font-size: 17px;
        line-height: 25px;
        font-weight: 300;
        color: #5C5A57;

        tr {
          td {
            padding: 20px 15px;
            border-bottom: 1px solid #E2E2E2;

            &:nth-child(1) {
              border-left: 1px solid #E2E2E2;
            }

            &:nth-last-child(1) {
              border-right: 1px solid #E2E2E2;
            }
          }

          &:hover {
            td {
              background-color: #f7f7f7;
            }
          }
        }
      }
    }

  }
}

.popup {
  &-voucher {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
  }

  &-container {
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 490px;
    width: 100%;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  }

  &-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AB8B8B;
    background-color: #fff;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease;

    &:hover {
      transition: 0.4s ease;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    }
  }

  &-label {
    margin-right: 20px;
    width: max-content !important;
  }

  &-header {
    position: relative;
    background: #FBF9F6;
    border-radius: 8px;
    padding: 20px 45px;

    &-text {
      font-weight: bold;
      font-size: 16px;
      color: $brown-red;
    }
  }

  &-body {
    padding: 30px 45px;
  }

  &-form {
    display: flex;
    flex-direction: column;

    input,
    label {
      width: 100%;
    }

    label {
      display: inline-block;
      margin-bottom: 10px;
      color: #B6A478;
      font-size: 16px;
      font-weight: 400;
    }

    input {
      margin-bottom: 30px;
    }

    .ducatus {
      &-inputs-switch {
        width: 44px;
      }

      &-btn {
        margin-top: 30px;
        max-width: 200px;
      }
    }

    &-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}

.ducatus {
  &-inputs {
    &-switch {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 24px;
      cursor: pointer;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
          ~ .ducatus-inputs-switch-slider {
            background-color: white;
            border: 1px solid $brown-red;

            &:before {
              transform: translateX(16px);
              background-color: $brown-red;
            }
          }
        }

        &:focus {
          ~.ducatus-inputs-switch-slider {
            box-shadow: 0 0 1px $brown-red;
          }
        }
      }

      &-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F3F3F3;
        border: 1px solid #CFCFCF;
        transition: .4s;
        border-radius: 34px;

        &:before {
          position: absolute;
          content: '';
          height: 18px;
          width: 18px;
          left: 4px;
          bottom: 2px;
          background-color: #B8B8B8;
          transition: 0.4s ease;
          border-radius: 50%;
        }
      }
    }

    // &[class*="ducatus-inputs-"] {
    //   font-family: 'Montserrat';
    //   font-weight: 300;
    //   font-size: 40px;
    // }

    &-input {
      background-color: #FBF9F6;
      border-radius: 5px;
      font-size: 16px;
      padding: 20px 10px;
      outline: none;
      border: none;
      font-family: 'Montserrat';
      font-weight: 300;
      letter-spacing: 1px;
      color: #414B53;
    }
  }

  &-btn {
    border-radius: 5px;
    min-width: 200px;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    transition: 0.4s ease;

    &:hover {
      transition: 0.4s ease;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus,
    &:active {
      outline: none;
    }

    &-brown {
      background-color: $brown-red;

      &:hover {
        box-shadow: 0px 0px 15px -4px $brown-red;
      }
    }

    &-gold {
      background-color: $gold;

      &:hover {
        box-shadow: 0px 0px 15px -4px $gold;
      }
    }
  }
}