<section class="section-header-page" style="background-image: url(/assets/img/sections/vaucher-bg.png);">
    <div class="container">
        <!-- <h1 class="h1__title-page" [innerHTML]="'PAGE.VAUCHER.TITLE' | translate"></h1> -->
        <span class="ducatus-btn ducatus-btn-brown" style="margin-bottom: 15px;" routerLink="/voucher/login">back</span>
    </div>
</section>
<section class="app voucher">
    <div class="container">
        <div class="content-block">
            <span class="page-text-title" [innerHTML]="'PAGE.VAUCHER.TITLE' | translate">Voucher</span>
            <div class="page-btn-block">
                <span class="ducatus-btn ducatus-btn-brown" (click)="popupAdd=true">New Voucher</span>
                <label for="file" class="ducatus-btn ducatus-btn-gold" [ngClass]="{ 'icon icon__loading': loadingCSV }">
                    <span *ngIf="!loadingCSV">Importing CSV</span>
                </label>
                <input type="file" id="file" accept=".csv" (change)="parseCsvFile($event)" class="ducatus-inputs-file"
                    [disabled]="loadingCSV">
            </div>
        </div>
        <div class="content-block">
            <div class="page-table-wrap">
                <table class="page-table">
                    <thead class="page-table-head">
                        <th style="min-width: 90px; width: 90px;" class="text-center">№</th>
                        <th style="min-width: 130px; width: 130px;">Voucher <br> Add Date</th>
                        <th style="min-width: 115px; width: 115px;">Voucher <br> Add Time</th>
                        <th style="min-width: 120px;">Voucher Code</th>
                        <th style="min-width: 100px;">Activation <br> Code</th>
                        <th style="min-width: 60px;">Amount <br> (DUC)</th>
                        <th style="min-width: 80px; width: 80px;" class="text-center">Active</th>
                        <th style="min-width: 120px; width: 120px;" class="text-center">Used/<br>unused</th>
                    </thead>
                    <tbody class="page-table-body">
                        <tr *ngFor="let item of vouchers">
                            <td class="text-center">{{ item.id }}</td>
                            <td class="page-table-text-accent">{{ item.add_date }}</td>
                            <td>{{ item.add_time }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.activation_code }}</td>
                            <td>{{ item.amount }}</td>
                            <td class="text-center">
                                <label class="ducatus-inputs-switch">
                                    <input type="checkbox" [checked]="item.active">
                                    <span class="ducatus-inputs-switch-slider"></span>
                                </label>
                            </td>
                            <td>
                                <span class="page-table-active"
                                    [ngClass]="{ 'page-table-active-yes': item.status }"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="popupAdd">
    <div class="popup-voucher">
        <div class="popup-container">
            <div class="popup-header">
                <span class="popup-header-text">New Voucher</span>
                <span class="popup-close" (click)="close()">X</span>
            </div>
            <div class="popup-body">
                <form #voucherAddForm="ngForm" novalidate class="popup-form">
                    <label for="voucherCode">Voucher code</label>
                    <div class="popup-form-input">
                        <input type="text" name="voucherCode" required placeholder="Write voucher code"
                            class="ducatus-inputs-input" id="voucherCode" [(ngModel)]="voucherCode">
                        <span class="icon icon__settings" (click)="generateCode('v')"></span>
                    </div>
                    <label for="activationCode">Activation code</label>
                    <div class="popup-form-input">
                        <input type="text" name="activationCode" required placeholder="Write activation code"
                            class="ducatus-inputs-input" id="activationCode" [(ngModel)]="activationCode">
                        <span class="icon icon__settings" (click)="generateCode('a')"></span>
                    </div>
                    <div class="popup-form-group">
                        <div class="popup-form-group-item">
                            <label for="amountVoucher">Amount</label>
                            <div class="popup-form-input">
                                <input type="text" placeholder="Amount" minlength="1" name="amount" [(ngModel)]="amount"
                                    required class="ducatus-inputs-input" id="amountVoucher">
                                <span class="popup-form-text-label">DUC</span>
                            </div>
                        </div>
                        <div class="popup-form-group-item">
                            <label for="freezeVoucher">Freeze time</label>
                            <div class="popup-form-input">
                                <input [matDatepicker]="picker" name="freezeDate" [(ngModel)]="freezeDate" required
                                    class="ducatus-inputs-input" id="freezeVoucher">
                                <span class="icon icon__datetimepicker" (click)="picker.open()"></span>
                                <mat-datepicker placeholder="Choose Date" #picker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form-group">
                        <div class="popup-form-group-item">
                            <label class="popup-label" for="statusVoucher">Status</label>
                            <label class="ducatus-inputs-switch">
                                <input type="checkbox" name="statusVoucher" id="statusVoucher"
                                    [(ngModel)]="statusVoucher" [checked]="false">
                                <span class="ducatus-inputs-switch-slider"></span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" [disabled]="voucherAddForm.invalid" class="ducatus-btn ducatus-btn-brown"
                        (click)="submit(voucherAddForm)">ADD</button>
                </form>
            </div>
        </div>
    </div>
</ng-container>