.error-input {
    border: 1px solid #ff2020;
    border-radius: 5px;
}

button[disabled] {
    opacity: 0.5;
}

.contact {
    &-form {
        position: relative;
        overflow: hidden;

        &-captcha {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
        }

        &-loading {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #00000010;
            top: 0;
            left: 0;
            z-index: 9;

            &:before {
                background-size: 90px;
                background-position: center;
                background-color: #0000006e;
                border-radius: 10px;
            }
        }
    }
}