<section class="section-header-page" style="background-image: url(/assets/img/sections/privacy-policy-bg.png);">
    <div class="container">
        <h1 class="h1__title-page" [innerHTML]="'PAGE.LEGAL_DISCLAIMER.TITLE' | translate"></h1>
    </div>
</section>

<section class="section-infoblock">
    <div class="container">

        <div class="section-infoblock-one-third">
            <div class="section-infoblock-block">
                <b>{{ 'PAGE.LEGAL_DISCLAIMER.DISCLAIMER' | translate }}</b>
                <br>
                <br>
                <p class="p__text-section" [innerHTML]="'PAGE.LEGAL_DISCLAIMER.TEXT' | translate"></p>
            </div>
        </div>

    </div>
</section>

<section class="mb-130"></section>