<section class="section-header-page" style="background-image: url(/assets/img/sections/buy-bg.png);">
    <div class="container">
        <h1 class="h1__title-page" [innerHTML]="'PAGE.BUY.TITLE' | translate"></h1>
    </div>
</section>

<section class="app color-page">
    <div class="container">
        <div class="pay-form">
            <div class="pay-form-wrap">
                <form [formGroup]="BuyGroup" class="ducatus-pay-form" *ngIf="!loadingData">
                    <div class="group group-input">
                        <div class="group-currency">
                            <div class="group-currency-item">
                                <input formControlName="currency" required type="radio" id="currency-btc" value="btc">
                                <label for="currency-btc">
                                    <img src="/assets/img/icons/btc.svg" width="30" height="30" alt="bitcoin">
                                    <span class="group-currency-text">BTC</span>
                                </label>
                            </div>
                            <div class="group-currency-item">
                                <input formControlName="currency" checked required type="radio" checked
                                    id="currency-eth" value="eth">
                                <label for="currency-eth">
                                    <img src="/assets/img/icons/eth.svg" width="30" height="30" alt="etherium">
                                    <span class="group-currency-text">ETH</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="group group-input group-block">
                        <label class="group-radio-label" for="amount-2">Сhoose amount for Ducatus purchase</label>
                        <div class="group-radio">
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" required type="radio"
                                    id="amount-1" value="10">
                                <label for="amount-1">
                                    <span class="group-radio-amount">10$</span>
                                    <span class="group-radio-text">1 ticket</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-2"
                                    value="50">
                                <label for="amount-2">
                                    <span class="group-radio-amount">50$</span>
                                    <span class="group-radio-text">6 tickets</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" checked type="radio"
                                    id="amount-3" value="100">
                                <label for="amount-3">
                                    <span class="group-radio-amount">100$</span>
                                    <span class="group-radio-text">13 tickets</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-4"
                                    value="500">
                                <label for="amount-4">
                                    <span class="group-radio-amount">500$</span>
                                    <span class="group-radio-text">70 tickets</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-5"
                                    value="1000">
                                <label for="amount-5">
                                    <span class="group-radio-amount">1000$</span>
                                    <span class="group-radio-text">150 tickets</span>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="group group-input">
                        <label for="address">{{ 'PAGE.BUY.FIELDS.THREE.TEXT_1' | translate }}
                            Ducatus
                            {{ 'PAGE.BUY.FIELDS.THREE.TEXT_2' | translate }}</label>
                        <input id="address" formControlName="address" required type="text"
                            (ngModelChange)="setAddress()"
                            [placeholder]="('PAGE.BUY.FIELDS.THREE.PLACEHOLDER_1' | translate) + ' Ducatus ' + ('PAGE.BUY.FIELDS.THREE.PLACEHOLDER_2' | translate)"
                            class="input input-white" oninput="this.value = this.value.replace('ducatus:', '');">
                        <span class="error-address-value"
                            *ngIf="ducAddress?.invalid && (ducAddress?.dirty || ducAddress?.touched)">{{ 'PAGE.BUY.FIELDS.THREE.ERROR' | translate }}</span>
                    </div>

                    <div class="group group-input">
                        <label for="email">Enter your email address for getting draw result</label>
                        <input (ngModelChange)="setEmail()" id="email" formControlName="email" type="email"
                            placeholder="Enter your email" class="input input-white">
                    </div>

                    <div id="loading-address" [ngClass]="{ 'loading-address-start': loadingQr}"
                        class="group group-input group-input-copy m-b-0 qr-wrap">
                        <div class="group-wrap qr-address">
                            <label>{{ 'PAGE.BUY.FIELDS.FOUR.TEXT_1' | translate }}
                                {{ currencyData[BuyGroup.value.currency].amount }}
                                {{ currencyData[BuyGroup.value.currency].name }}
                                {{ 'PAGE.BUY.FIELDS.FOUR.TEXT_2' | translate }} </label>
                            <p class="input input-accent">
                                <span *ngIf="!loadingQr">{{ currencyData[BuyGroup.value.currency].address }}</span>
                            </p>
                            <span class="copy-address icon icon-copy"
                                [cdkCopyToClipboard]="currencyData[BuyGroup.value.currency].address"></span>
                        </div>

                        <div class="qrcode" [attr.title]="currencyData[BuyGroup.value.currency].info">
                            <qrcode *ngIf="!loadingQr" class="qr-code" [elementType]="'url'" [margin]="0" [scale]="1"
                                [qrdata]="currencyData[BuyGroup.value.currency].info" [width]="60"
                                [errorCorrectionLevel]="'L'"></qrcode>
                        </div>

                        <div class="group-wrap qr-textCode"><label>Or scan QR Code in Ducatus Wallet app</label></div>

                        <div class="loading-address-qr">
                            <div class="loading-address-qr-wrap">
                                <p>{{ 'PAGE.BUY.FIELDS.FOUR.ERROR' | translate }}</p>
                                <div class="loading-address-qr-wrap-ellips">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="group group-text qr-text" style="margin-bottom: 0;">
                            <span class="text-attantion"><span
                                    class="attantion">{{ 'PAGE.BUY.FIELDS.FIVE.TEXT_1' | translate }}!</span>
                                {{ 'PAGE.BUY.FIELDS.FIVE.TEXT_2' | translate }}
                                Ducatus
                                {{ 'PAGE.BUY.FIELDS.FIVE.TEXT_3' | translate }}
                                {{ currencyData[BuyGroup.value.currency].time }}<br><br></span>
                        </div>

                    </div>

                </form>
                <div class="ducatus-pay-form loading-pay-form" *ngIf="loadingData">
                    <div class="group group-input group-input-select" style="height: 90px;"></div>
                    <div class="group group-input group-input-select" style="height: 130px;"></div>
                    <div class="group group-input group-input-select input-h-85"></div>
                    <div class="group group-input group-input-select input-h-85"></div>
                    <div class="group group-input group-input-select input-h-60"></div>
                    <div class="group group-text group-columns input-h-20"></div>
                </div>
            </div>
            <div class="pay-form-block">
                <div class="lottery" *ngIf="!loadingData">

                    <div *ngIf="lottery.ended" class="lottery-completed">
                        <span class="lottery-completed-title">Fundraising completed</span>
                        <span class="lottery-completed-text">Winner will be announced in {{ lottery.range }} days</span>
                    </div>
                    <div *ngIf="lottery.range && lottery.range === 0" class="lottery-win">
                        <span class="lottery-win-title">Congratulations to Ducatus address</span>
                        <span class="lottery-win-text">0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7</span>
                    </div>

                    <div class="lottery-wrap">
                        <span class="lottery-title">Get a chance to win prize</span>
                        <span class="lottery-subtitle">{{ lottery.name }}</span>
                        <div class="lottery-image">
                            <img [src]="lottery.image" class="lottery-image">
                        </div>
                        <div class="lottery-progress">
                            <span class="lottery-progress-title">Get a chance to win prize <img
                                    src="/assets/img/icons/lottery-rocket.svg" height="28" width="28"
                                    alt="ducatus lottery rocket"></span>
                            <div class="lottery-progress-bar">
                                <span [style.width]="lottery.percent" [attr.data-progress]="lottery.percent"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lottery" style="padding: 30px!important" *ngIf="loadingData">
                    <div class="ducatus-pay-form loading-pay-form" style="padding: 0 !important;">
                        <div class="group group-input group-input-select input-h-60"></div>
                        <div class="group group-text group-columns input-h-20"></div>
                        <div class="group group-input group-input-select" style="height: 130px;"></div>
                        <div class="group group-input group-input-select input-h-85"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" *ngIf="modal">
    <div class="modal-wrap">
        <div class="modal-content-top">
            <p [innerHTML]="'PAGE.BUY.MODAL.TEXT' | translate"></p>
        </div>
        <div class="modal-content-bottom">
            <div class="input-checkbox-group">
                <label for="terms" [innerHTML]="'PAGE.BUY.MODAL.TERMS' | translate"></label>
                <input type="checkbox" (ngModelChange)="modalAccept = !modalAccept" [ngModel]="modalAccept" name="terms"
                    id="terms" class="terms">
            </div>
            <button id="btn-modal" (click)="acceptModalTerms()" [disabled]="!modalAccept" class="btn btn-red">
                {{ 'PAGE.BUY.MODAL.BUTTON' | translate }}</button>
        </div>
    </div>
</div>