<section class="section-header-page header-buy-page" [ngStyle]="{'background-image': 'url(' + bg + ')'}">
    <div class="container">
        <h1 class="h1__title-page" [innerHTML]="'PAGE.BUY.TITLE' | translate"></h1>
    </div>
</section>

<section class="app color-page buy-page">
    <div class="container">
        <div class="pay-form">
            <div class="pay-form-wrap">
                <form [formGroup]="BuyGroup" class="ducatus-pay-form" *ngIf="!loadingData">
                    <div class="group group-input">
                        <div class="group-currency">
                            <div class="group-currency-item">
                                <input formControlName="currency" required type="radio" id="currency-btc" value="btc">
                                <label for="currency-btc">
                                    <img src="/assets/img/icons/btc.svg" width="30" height="30" alt="bitcoin">
                                    <span class="group-currency-text">BTC</span>
                                </label>
                            </div>
                            <div class="group-currency-item">
                                <input formControlName="currency" checked required type="radio" checked
                                    id="currency-eth" value="eth">
                                <label for="currency-eth">
                                    <img src="/assets/img/icons/eth.svg" width="30" height="30" alt="etherium">
                                    <span class="group-currency-text">ETH</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="group group-input group-block">
                        <label class="group-radio-label" for="amount-3">{{ 'PAGE.BUY.FORM.RADIO.PRICE' | translate }}
                            <br>
                            {{ 'PAGE.BUY.FORM.RADIO.TEXT' | translate }} <span class="ducatus-info-link"
                                (click)="modalInfo = true">{{ 'PAGE.BUY.FORM.RADIO.LINK' | translate }}</span></label>
                        <div class="group-radio">
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" required type="radio"
                                    id="amount-1" value="10">
                                <label for="amount-1">
                                    <span class="group-radio-amount">10$</span>
                                    <span *ngIf="!lottery.ended || false" class="group-radio-text">1
                                        {{ 'PAGE.BUY.FORM.RADIO.TICKET.ONE' | translate }}</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-2"
                                    value="50">
                                <label for="amount-2">
                                    <span class="group-radio-amount">50$</span>
                                    <span *ngIf="!lottery.ended || false" class="group-radio-text">6
                                        {{ 'PAGE.BUY.FORM.RADIO.TICKET.MANY' | translate }}</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" checked type="radio"
                                    id="amount-3" value="100">
                                <label for="amount-3">
                                    <span class="group-radio-amount">100$</span>
                                    <span *ngIf="!lottery.ended || false" class="group-radio-text">13
                                        {{ 'PAGE.BUY.FORM.RADIO.TICKET.MANY' | translate }}</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-4"
                                    value="500">
                                <label for="amount-4">
                                    <span class="group-radio-amount">500$</span>
                                    <span *ngIf="!lottery.ended || false" class="group-radio-text">70
                                        {{ 'PAGE.BUY.FORM.RADIO.TICKET.MANY' | translate }}</span>
                                </label>
                            </div>
                            <div class="group-radio-item">
                                <input (ngModelChange)="setAmount()" formControlName="amount" type="radio" id="amount-5"
                                    value="1000">
                                <label for="amount-5">
                                    <span class="group-radio-amount">1000$</span>
                                    <span *ngIf="!lottery.ended || false" class="group-radio-text">150
                                        {{ 'PAGE.BUY.FORM.RADIO.TICKET.MANY' | translate }}</span>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="group group-input">
                        <label for="address">{{ 'PAGE.BUY.FORM.ADDRESS.TEXT' | translate }}</label>
                        <input id="address" formControlName="address" required type="text"
                            (ngModelChange)="setAddress()"
                            [placeholder]="'PAGE.BUY.FORM.ADDRESS.PLACEHOLDER' | translate" class="input input-white"
                            oninput="this.value = this.value.replace('ducatus:', '');">
                        <span class="error-address-value"
                            *ngIf="ducAddress?.invalid && (ducAddress?.dirty || ducAddress?.touched)">{{ 'PAGE.BUY.FORM.ADDRESS.ERROR' | translate }}</span>
                    </div>

                    <div class="group group-input">
                        <label for="email">{{ 'PAGE.BUY.FORM.EMAIL.TEXT' | translate }}</label>
                        <input (ngModelChange)="setEmail()" id="email" formControlName="email" type="email"
                            [placeholder]="'PAGE.BUY.FORM.EMAIL.PLACEHOLDER' | translate" class="input input-white">
                    </div>

                    <div id="loading-address" [ngClass]="{ 'loading-address-start': loadingQr}"
                        class="group group-input group-input-copy m-b-0 qr-wrap">
                        <div class="group-wrap qr-address">
                            <label>{{ 'PAGE.BUY.FORM.RESULT.TEXT_1' | translate }}
                                {{ currencyData[BuyGroup.value.currency].amount }}
                                {{ currencyData[BuyGroup.value.currency].name }}
                                {{ 'PAGE.BUY.FORM.RESULT.TEXT_2' | translate }}
                            </label>
                            <p class="input input-accent">
                                <span *ngIf="!loadingQr">{{ currencyData[BuyGroup.value.currency].address }}</span>
                            </p>
                            <span class="copy-address icon icon-copy"
                                [cdkCopyToClipboard]="currencyData[BuyGroup.value.currency].address"></span>
                        </div>

                        <div class="qrcode" [attr.title]="currencyData[BuyGroup.value.currency].info">
                            <qrcode *ngIf="!loadingQr" class="qr-code" [elementType]="'url'" [margin]="0" [scale]="1"
                                [qrdata]="currencyData[BuyGroup.value.currency].info" [width]="80"
                                [errorCorrectionLevel]="'L'"></qrcode>
                        </div>

                        <div class="group-wrap qr-textCode"><label
                                style="margin-bottom: 0;">{{ 'PAGE.BUY.FORM.RESULT.QR.TEXT' | translate }}</label></div>

                        <div class="loading-address-qr">
                            <div class="loading-address-qr-wrap">
                                <p>{{ 'PAGE.BUY.FORM.RESULT.ERROR' | translate }}</p>
                                <div class="loading-address-qr-wrap-ellips">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="group group-text qr-text" style="margin-bottom: 0;">
                            <span class="text-attantion">
                                {{ 'PAGE.BUY.FORM.RESULT.NOTE.TEXT_1' | translate }}
                                {{ currencyData[BuyGroup.value.currency].time }}
                                {{ 'PAGE.BUY.FORM.RESULT.NOTE.TEXT_2' | translate }}<br><br></span>
                        </div>

                    </div>

                </form>
                <div class="ducatus-pay-form loading-pay-form" *ngIf="loadingData">
                    <div class="group group-input group-input-select" style="height: 90px;"></div>
                    <div class="group group-input group-input-select" style="height: 130px;"></div>
                    <div class="group group-input group-input-select input-h-85"></div>
                    <div class="group group-input group-input-select input-h-85"></div>
                    <div class="group group-input group-input-select input-h-60"></div>
                    <div class="group group-text group-columns input-h-20"></div>
                </div>

                <div class="buy-info-block hidden-mobile" *ngIf="!loadingData">
                    <span class="buy-info-block-title">{{ 'PAGE.BUY.INFO.TITLE' | translate }}</span>

                    <div class="buy-info-block-group-text">
                        <div class="buy-info-block-group-text-item">
                            <img src="/assets/img/aa-logo.png" height="60" alt="aa+ logo">
                        </div>
                        <div class="buy-info-block-group-text-item">
                            <span
                                class="buy-info-block-subtitle">{{ 'PAGE.BUY.INFO.LINK.ONE.TITLE' | translate }}</span>
                            <a class="buy-info-block-link" [href]="'PAGE.BUY.INFO.LINK.ONE.TITLE' | translate"
                                target="_blank">{{ 'PAGE.BUY.INFO.LINK.ONE.TITLE' | translate }}</a>
                        </div>
                    </div>

                    <span class="buy-info-block-spacer"></span>

                    <div class="buy-info-block-group-text">
                        <div class="buy-info-block-group-text-item">
                            <img src="/assets/img/d-bay-logo.jpg" height="30" alt="d-bay logo">
                        </div>
                        <div class="buy-info-block-group-text-item">
                            <span
                                class="buy-info-block-subtitle">{{ 'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate }}</span>
                            <a class="buy-info-block-link" [href]="'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate"
                                target="_blank">{{ 'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate }}</a>
                        </div>
                    </div>
                </div>

                <div class="buy-info-block loading-pay-form" *ngIf="loadingData">
                    <div class="group group-input group-input-select input-h-60"></div>
                    <div class="group group-input group-input-select input-h-60"></div>
                    <div class="group group-input group-input-select input-h-60"></div>
                    <div class="group group-input group-input-select input-h-60"></div>
                </div>

            </div>



            <div class="pay-form-block" *ngIf="!loadingData">

                <div *ngIf="lottery.ended">
                    <div *ngIf="lottery.winner_address" class="lottery-win">
                        <div class="lottery-win-title">{{ 'PAGE.BUY.LOTTERY.BLOCK.WINNER.TITLE' | translate }}</div>
                        <span class="lottery-win-text">{{ lottery.winner_tx_hash }}</span>
                    </div>
                    <div *ngIf="!lottery.winner_address" class="lottery-waiting">
                        <div class="lottery-waiting-title">{{ 'PAGE.BUY.LOTTERY.BLOCK.WAITING.TITLE' | translate }}
                        </div>
                        <div class="lottery-waiting-text">{{ 'PAGE.BUY.LOTTERY.BLOCK.WAITING.TEXT' | translate }}</div>
                    </div>
                </div>

                <div *ngIf="!lottery.ended" class="lottery-tickets">

                    <div *ngIf="lottery.filled_at && !lottery.ended" class="lottery-tickets-timer">
                        <div class="lottery-tickets-timer-title">
                            {{ 'PAGE.BUY.LOTTERY.BLOCK.COUNTDOWN.TITLE' | translate }}</div>
                        <span class="lottery-tickets-timer-count">
                            <app-countdown [timeStart]="lottery.filled_at" [correctTimeStart]="1000"
                                [timeEndDayPlus]="8">
                            </app-countdown>
                        </span>
                    </div>

                    <div *ngIf="!lottery.filled_at && !lottery.ended" class="lottery-tickets-progress">
                        <span
                            class="lottery-tickets-progress-title">{{ 'PAGE.BUY.LOTTERY.BLOCK.PROGRESS.TITLE' | translate }}
                            <img src="/assets/img/icons/lottery-rocket.svg" height="25" width="25"
                                alt="ducatus lottery rocket"></span>
                        <div class="lottery-tickets-progress-bar">
                            <span [style.width]="lottery.percent" [ngClass]="{'progress-info-5': percentLottery > 5}"
                                [attr.data-progress]="lottery.percent"></span>
                        </div>
                    </div>

                    <div class="lottery-tickets-spacer"><span></span></div>

                    <div class="lottery-tickets-items">
                        <div class="lottery-tickets-item">
                            <img src="/assets/img/icons/ticket.svg" height="57" width="70" alt="ducatus lottery ticket">
                            <span [routerLink]="['/buy/entries']"
                                class="lottery-tickets-item-title">{{ 'PAGE.BUY.LOTTERY.BLOCK.TICKETS.LINK' | translate }}</span>
                        </div>
                        <div class="lottery-tickets-spacer"><span></span></div>
                        <div class="lottery-tickets-item">
                            <span class="lottery-tickets-item-amount">{{ lottery.gave_tickets_amount }}</span>
                            <span
                                class="lottery-tickets-item-text">{{ 'PAGE.BUY.LOTTERY.BLOCK.TICKETS.TEXT' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="lottery">
                    <div class="lottery-wrap">
                        <span *ngIf="lottery.description && lottery.description[lang].title" class="lottery-title"
                            [innerHTML]="lottery.description[lang].title"></span>
                        <span *ngIf="lottery.description && lottery.description[lang].subtitle" class="lottery-subtitle"
                            [innerHTML]="lottery.description[lang].subtitle"></span>

                        <ul *ngIf="lottery.description">
                            <li *ngFor="let item of lottery.description[lang].list">{{ item }}</li>
                        </ul>

                        <div *ngIf="lottery.video" class="lottery-video">
                            <iframe [src]="lottery.video | safe" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>

                        <div class="lottery-info">
                            <span
                                class="lottery-info-title">{{ 'PAGE.BUY.LOTTERY.BLOCK.INFO.TITLE' | translate }}</span>
                            <div [innerHTML]="'PAGE.BUY.LOTTERY.BLOCK.INFO.TEXT' | translate:{duc_amount:
                                (lottery.duc_amount | number) }">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buy-info-block hidden-desktop" *ngIf="!loadingData">
                    <span class="buy-info-block-title">{{ 'PAGE.BUY.INFO.TITLE' | translate }}</span>

                    <div class="buy-info-block-group-text">
                        <div class="buy-info-block-group-text-item">
                            <img src="/assets/img/aa-logo.png" height="60" alt="aa+ logo">
                        </div>
                        <div class="buy-info-block-group-text-item">
                            <span
                                class="buy-info-block-subtitle">{{ 'PAGE.BUY.INFO.LINK.ONE.TITLE' | translate }}</span>
                            <a class="buy-info-block-link" [href]="'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate"
                                target="_blank">{{ 'PAGE.BUY.INFO.LINK.ONE.TITLE' | translate }}</a>
                        </div>
                    </div>

                    <span class="buy-info-block-spacer"></span>

                    <div class="buy-info-block-group-text">
                        <div class="buy-info-block-group-text-item">
                            <img src="/assets/img/d-bay-logo.jpg" height="30" alt="d-bay logo">
                        </div>
                        <div class="buy-info-block-group-text-item">
                            <span
                                class="buy-info-block-subtitle">{{ 'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate }}</span>
                            <a class="buy-info-block-link" [href]="'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate"
                                target="_blank">{{ 'PAGE.BUY.INFO.LINK.TWO.TITLE' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-form-block" *ngIf="loadingData">
                <div class="lottery-tickets" style="margin-bottom: 30px;">
                    <div class="ducatus-pay-form loading-pay-form">
                        <div class="group group-input group-input-select input-h-60"></div>
                        <div class="group group-input group-input-select input-h-60"></div>
                        <div class="group group-input group-input-select input-h-60"></div>
                        <div class="group group-text group-columns input-h-20"></div>
                    </div>

                </div>

                <div class="lottery" style="padding: 30px!important; min-height: auto;">
                    <div class="ducatus-pay-form loading-pay-form" style="padding: 0 !important;box-shadow: none;">
                        <div class="group group-input group-input-select input-h-60"></div>
                        <div class="group group-input group-input-select" style="height: 50px;"></div>
                        <div class="group group-input group-input-select" style="height: 130px;"></div>
                        <div class="group group-input group-input-select" style="height: 200px;"></div>
                        <div class="group group-input group-input-select" style="height: 103px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" *ngIf="modal">
    <div class="modal-wrap">
        <div class="modal-content-top">
            <p [innerHTML]="'PAGE.BUY.MODAL.TERMS.TEXT' | translate"></p>
        </div>
        <div class="modal-content-bottom">
            <div class="input-checkbox-group">
                <label for="terms" [innerHTML]="'PAGE.BUY.MODAL.TERMS.AGREE' | translate"></label>
                <input type="checkbox" (ngModelChange)="modalAccept = !modalAccept" [ngModel]="modalAccept" name="terms"
                    id="terms" class="terms">
            </div>
            <button id="btn-modal" (click)="acceptModalTerms()" [disabled]="!modalAccept"
                class="ducatus-btn ducatus-btn-brown">
                {{ 'PAGE.BUY.MODAL.TERMS.BUTTON' | translate }}</button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modalInfo">
    <div class="modal-wrap">
        <div class="modal-content-top" [innerHTML]="'PAGE.BUY.MODAL.INFO.TEXT' | translate"></div>
        <div class="modal-content-bottom">
            <button id="btn-modal" style="margin: 0 auto;" (click)="modalInfo = false"
                class="ducatus-btn ducatus-btn-brown">{{ 'PAGE.BUY.MODAL.INFO.BUTTON' | translate }}</button>
        </div>
    </div>
</div>