@import '../../../scss/vars';
@import '../../../scss/mixins';

.loading-pay-form {
  padding: 30px !important;

  .group {
    background: linear-gradient(124deg, #f7f3eb, #e9e1ca, #f7f3eb);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 4s ease infinite;
    -z-animation: rainbow 4s ease infinite;
    -o-animation: rainbow 4s ease infinite;
    animation: rainbow 4s ease infinite;
    margin-bottom: 15px;
    border-radius: 5px;

    &:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }

  .input-h-20 {
    height: 30px !important;
  }

  .input-h-60 {
    height: 60px !important;
  }

  .input-h-105 {
    height: 105px !important;
  }

  .input-h-85 {
    height: 85px !important;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

.color-page {
  background-color: #f4f0e5 !important;
  background-image: none !important;
}

// .buy-page {
//   &-header {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     overflow: hidden;
//     height: 437px;
//     background-image: url(src/assets/img/buy-page/head-background.png);
//     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

//     &-text {
//       &-container {
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         max-width: 1366px;
//         margin: 0 auto;
//       }

//       position: absolute;
//       bottom: 53px;
//       left: 78px;
//       color: white;
//       font-weight: bold;
//       font-size: 37px;

//       @include b(600) {
//         font-size: 30px;
//       }
//     }

//     &-big-logo {
//       min-width: 660px;
//       max-width: 100%;
//     }
//   }
// }

// .loading-pay-form {
//   padding: 30px !important;

//   .group {
//     background: linear-gradient(124deg, #f7f3eb, #e9e1ca, #f7f3eb);
//     background-size: 1800% 1800%;
//     -webkit-animation: rainbow 4s ease infinite;
//     -z-animation: rainbow 4s ease infinite;
//     -o-animation: rainbow 4s ease infinite;
//     animation: rainbow 4s ease infinite;
//     margin-bottom: 15px;
//     border-radius: 5px;
//   }

//   .input-h-20 {
//     height: 30px !important;
//   }

//   .input-h-60 {
//     height: 60px !important;
//   }

//   .input-h-105 {
//     height: 105px !important;
//   }

//   .input-h-85 {
//     height: 85px !important;
//   }
// }

// @-webkit-keyframes rainbow {
//   0% {
//     background-position: 0% 82%;
//   }

//   50% {
//     background-position: 100% 19%;
//   }

//   100% {
//     background-position: 0% 82%;
//   }
// }

// @-moz-keyframes rainbow {
//   0% {
//     background-position: 0% 82%;
//   }

//   50% {
//     background-position: 100% 19%;
//   }

//   100% {
//     background-position: 0% 82%;
//   }
// }

// @-o-keyframes rainbow {
//   0% {
//     background-position: 0% 82%;
//   }

//   50% {
//     background-position: 100% 19%;
//   }

//   100% {
//     background-position: 0% 82%;
//   }
// }

// @keyframes rainbow {
//   0% {
//     background-position: 0% 82%;
//   }

//   50% {
//     background-position: 100% 19%;
//   }

//   100% {
//     background-position: 0% 82%;
//   }
// }