@import "../../../scss/vars";
@import "../../../scss/mixins";

.buy-page {
  &-header {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 437px;
    background-image: url(../../../assets/img/buy-page/head-background.png);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &-text {
      position: absolute;
      bottom: 53px;
      left: 78px;
      color: white;
      font-weight: bold;
      font-size: 37px;
    }

    &-big-logo {
      max-width: 100%;
    }
  }

  &-main {
    background-image: url(src/assets/img/buy-page/main-background.png);
    background-size: 65px 83px;

    &-container {
      display: flex;
      justify-content: space-between;
      grid-gap: 40px;
      max-width: 1400px;
      padding: 90px 70px 160px;
      margin: 0 auto;
    }

    &-block-1 {
      width: 50%;
      max-width: 600px;
      border-radius: 4px;
      background: #FDFBF6;
      box-shadow: 0 50px 45px rgba(204, 199, 189, 0.25);

      &-panel {
        padding: 30px;

        &:nth-child(1) {
          padding-bottom: 25px;
        }

        &:nth-child(2) {
          padding: 25px 30px;
          background: rgba(0, 0, 0, 0.03);
        }

        &:nth-child(3) {
          padding-top: 25px;
        }
      }

      &-title {
        font-weight: bold;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
      }

      &-input {
        width: 100%;
        height: 62px;
        padding-left: 15px;
        border: 1px solid #E9DCCA;
        border-radius: 2px;
        font-size: 19px;

        &:focus {
          outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
          -moz-appearance: textfield;
        }
      }

      &-attention-text {
        font-size: 14px;
        color: #8B8B8B;

        &-red {
          color: #862633;
        }
      }

      .duc-address {
        &-title {
          display: block;
          margin-bottom: 11px;
        }

        &-input {
          margin-bottom: 15px;
        }

        &-anchor {
          margin-bottom: 19px;
          font-size: 15px;
          color: #836740;

          a {
            text-decoration: none;
            color: #862633;
          }
        }
      }

      .conversion {
        &-forms {
          display: flex;
          justify-content: space-between;
          grid-gap: 20px;
          margin-bottom: 20px;

          &-send,
          &-get {
            width: 50%;
            min-width: 200px;
          }

          &-send {
            &-title {
              display: block;
              margin-bottom: 10px;

              &:after {
                content: url(../../../assets/img/buy-page/sign-arrow-red.svg);
                position: relative;
                top: -1px;
                margin-left: 5px;
              }
            }
          }

          &-get {
            &-title {
              display: block;
              margin-bottom: 10px;

              &:before {
                content: url(../../../assets/img/buy-page/sign-arrow-red.svg);
                position: relative;
                top: -1px;
                margin-right: 5px;
              }
            }

            &-block {
              display: flex;
              align-items: center;
              width: 100%;
              height: 62px;
              padding-left: 15px;
              border: 1px solid #E9DCCA;
              border-radius: 2px;
              font-size: 19px;
              background: right 15px center/ 25% no-repeat url(src/assets/img/buy-page/duc-small-logo.svg), white;
            }
          }
        }

        &-rate {
          margin-bottom: 16px;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .send-block {
        &-title {
          margin-bottom: 11px;
        }

        &-address {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;

          &-text {
            display: flex;
            align-items: center;
            width: 85%;
            height: 62px;
            padding-right: 51px;
            padding-left: 15px;
            border: none;
            border-radius: 2px;
            background: right 15px center no-repeat url(../../../assets/img/buy-page/sign-copy-red.svg), #F5F3EE;
            text-align: left;
            overflow-wrap: anywhere;
            font-size: 16px;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    &-block-2 {
      width: 50%;
      max-width: 600px;

      .video {
        width: 100%;
        height: 337px;
        margin-bottom: 31px;
        background: black;
      }

      .message {
        padding: 30px 30px 30px 108px;
        border: 2px solid #B89C5E45;
        background: left 30px top 33px no-repeat url(../../../assets/img/buy-page/sign-wallet-red.svg);

        &-text {
          font-size: 16px;
          color: #5C5A57;
        }
      }
    }
  }
}
