<section class="section-header-page" style="background-image: url(/assets/img/sections/about-ducatusx-bg.png);">
    <div class="container">
        <h1 class="h1__title-page">DucatusX</h1>
    </div>
</section>

<section class="section-text-second ducatusx-section">
    <div class="container">
        <div class="section-text-second-block">
            <span class="h2__title-section">About DucatusX</span>
            <span class="span__line-section"></span>
            <p class="p__text-section">DucatusX is a fork of the Ethereum blockchain, therefore it supports both transactions and creations of smart contracts. Unlike Ethereum, DucatusX uses a “Proof of Authority” consensus algorithm which reduces the maintenance cost. In the future, it is considered to switch to “Proof of Stake” which may give users even more confidence in choosing DucatusX for their projects. The blocks are produced regularly by 3 proven secured nodes resulting in stable cost and speed of block production.</p>
        </div>
        <div class="section-text-second-block">
            <div class="section-text-second-block-img" style="background-image: url(/assets/img/sections/about-ducx-img.png);"></div>
        </div>
    </div>
</section>

<section class="section-infoblock ducatusx-section">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">Why DucX</span>
            <span class="span__line-section"></span>
        </div>
        <div class="section-infoblock-items">
            <div class="section-infoblock-item-1-4">
                <div class="section-infoblock-item-1-4-info">
                    <span class="icon icon__community-ducx"></span>
                    <b>Strong supporting community</b>
                </div>
            </div>
            <div class="section-infoblock-item-1-4">
                <div class="section-infoblock-item-1-4-info">
                    <span class="icon icon__trusted-ducx"></span>
                    <b>Only trusted projects,<br> no scam token</b>
                </div>
            </div>
            <div class="section-infoblock-item-1-4">
                <div class="section-infoblock-item-1-4-info">
                    <span class="icon icon__coin-ducx"></span>
                    <b>Lower fees,<br> staking rewards</b>
                </div>
            </div>
            <div class="section-infoblock-item-1-4">
                <div class="section-infoblock-item-1-4-info">
                    <span class="icon icon__money-ducx"></span>
                    <b>Total number of DucX fixed at maximum 777.874.204</b>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-infoblock section-infoblock-filled ducatusx-section">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">DucatusX Resources</span>
            <span class="span__line-section"></span>
        </div>
        <div class="section-infoblock-grid-double">
            <div class="section-infoblock-grid-double-item">
                <span class="section-infoblock-grid-double-item-title">Manage DucatusX</span>
                <p class="section-infoblock-grid-double-item-text">To manage DucatusX you can use our Ducatus Wallet</p>
                <div class="section-app-list">
                    <a href="https://wallet.ducatus.io/" target="_blank" class="download_ducatus"></a>
                    <a href="https://play.google.com/store/apps/details?id=io.ducatus.walnew" target="_blank" class="download_googleplay"></a>
                    <a href="https://apps.apple.com/us/app/ducatus-wallet-2-0-1/id1489722627?ign-mpt=uo%3D2" target="_blank" class="download_appstore"></a>
                </div>
            </div>
            <div class="section-infoblock-grid-double-item">
                <span class="section-infoblock-grid-double-item-title">Convert Ducatus to DucatusX</span>
                <p class="section-infoblock-grid-double-item-text">DucatusX can be converted from and into Ducatus (DUC) by a fixed ratio of 1:10 on <a href="https://www.ducatuscoins.com/buy">https://www.ducatuscoins.com/buy</a></p>
            </div>
            <div class="section-infoblock-grid-double-item">

                <div class="block-video">
                    <iframe src="https://www.youtube.com/embed/PhQ-TYM7ZM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <span class="section-infoblock-grid-double-item-title">Create DucatusX token</span>
                <p class="section-infoblock-grid-double-item-text">DucatusX supports smart contracts and allows you to tokenize your assets. It's quite simple, just visit the <a href="http://ducx.mywish.io/create">http://ducx.mywish.io/create</a> and create a token that may be sold throught the <a href="https://www.aaplussg.com/">AA + exchange</a> after being accepted for listing.</p>

                <div class="section-infoblock-grid-double-nb">
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__coin-dollar-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">It allows you to create tokens in the right amount.</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__snow-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Reserve/Freeze tokens at specific addresses</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__double-money-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">If you want to make a Crowdsale contract then created token can be used in it without creating a new one</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__cash-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">You distribute the token on your own</p>
                    </div>
                </div>

            </div>
            <div class="section-infoblock-grid-double-item">

                <div class="block-video">
                    <iframe src="https://www.youtube.com/embed/snb4YWBtnMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <span class="section-infoblock-grid-double-item-title">Create crowsale contract</span>
                <p class="section-infoblock-grid-double-item-text">To attract investment into your project, you can create a token contract and sell it through a crowdsale. To get project tokens, buyers will need to send you DucX, which you can then spend on the project needs. <br><a href="http://ducx.mywish.io/create">http://ducx.mywish.io/create</a></p>

                <div class="section-infoblock-grid-double-nb">
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__hand-coin-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Includes Token contracts functionality</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__circles-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Automatic distribution of the token during an investment</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__calendar-2-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Setting the start and end dates for the ICO</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__calendar-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Changing dates of ICO</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__hand-dollar-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">You can specify a token rate</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__gift-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Bonus programs (time, amount of investments, etc.)</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__shield-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">White list</p>
                    </div>
                    <div class="section-infoblock-grid-double-nb-item">
                        <span class="section-infoblock-grid-double-nb-item-title icon icon__hand-cash-ducx"></span>
                        <p class="section-infoblock-grid-double-nb-item-text">Min Max investment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-infoblock ducatusx-section mt-80">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">Tech Spec (DucatusX vs Ethereum)</span>
            <span class="span__line-section"></span>
        </div>

        <div class="section-infoblock-grid-double">
            <div class="section-infoblock-items-table">
                <div class="section-infoblock-item-cell">
                    <div class="section-infoblock-item-cell-info">
                        <b>DucatusX</b>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <b>Ethereum</b>
                    </div>
                </div>
                <div data-title="Consensus" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>POA</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>POW</p>
                    </div>
                </div>
                <div data-title="Difficulty" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>432 ZH</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>2,148.98 TH</p>
                    </div>
                </div>
                <div data-title="Block Producing Speed" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>40 sec. stable</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>from 15 sec to 15 minutes, depends on network load</p>
                    </div>
                </div>
                <div data-title="TX cost" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>min gas price = 8gwei</p>
                        <p>gas limit = 21000</p>
                        <p>8 x 21000 = 0.000168 DUCX = 0.000084$</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>for ex gas price = 8 gwei (it's too low for ethereum, not recommend)</p>
                        <p>gas limit = 21000</p>
                        <p>8 x 21000 = 0.000168 ETH = 0,022848$</p>
                    </div>
                </div>
            </div>

            <div class="section-infoblock-items-table">
                <div class="section-infoblock-item-cell">
                    <div class="section-infoblock-item-cell-info">
                        <b>DucatusX</b>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <b>Ethereum</b>
                    </div>
                </div>
                <div data-title="Smart-contract support" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>Yes (Solidity), contracts can only be created after project analysis and administrator approval</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>Yes (Solidity)</p>
                    </div>
                </div>
                <div data-title="RPC, Web socket support" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>Yes. For the security reasons ports opened only for proven resources</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>yes</p>
                    </div>
                </div>
                <div data-title="Total pending transaction" class="section-infoblock-item-cell section-infoblock-item-cell-title">
                    <div class="section-infoblock-item-cell-info">
                        <p>0 - at the moment, all transactions included into the block. Transaction Timeout = New Block Creation Time</p>
                    </div>
                    <div class="section-infoblock-item-cell-info">
                        <p>34 586</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-130"></section>