<section class="section-header-page section-ducatusx" style="background-image: url(/assets/img/ducatusx/ducatusx-bg.png)">
  <div class="container">
    <h1 class="h1__title-page">
      Ducatus
      <span class="h1__title-accent">X</span>
    </h1>
  </div>
</section>

<section class="section-ducatusx section-about-ducatusx" style="background-color: rgb(239, 239, 239)">
  <div class="container">
    <div>
      <h3 class="section-ducatusx-title">About DucatusX</h3>
      <p class="text">
        Created to support peer-to-peer transactions, as well as the creation of smart contracts, DucatusX is a fork of the Ethereum blockchain. But unlike Ethereum, DucatusX uses a “Proof of Authority” consensus algorithm which significantly reduces its maintenance cost. In the future, it is envisioned to switch to “Proof of Stake”, giving users even more confidence in choosing DucatusX for their
        projects.
      </p>
    </div>
    <div style="background-image: url(/assets/img/ducatusx/ducatusx-asset.png); background-position: right; background-repeat: no-repeat">
      <h3 class="section-ducatusx-title">Why DUCX</h3>
      <div class="why-ducatusx">
        <div class="why-ducatusx-item">
          <span class="icon icon__ck-ducatusx-1">Strong community support</span>
        </div>
        <div class="why-ducatusx-item">
          <span class="icon icon__ck-ducatusx-2">Enabling only trusted projects</span>
        </div>
        <div class="why-ducatusx-item">
          <span class="icon icon__ck-ducatusx-3">Lower fees, staking rewards</span>
        </div>
        <div class="why-ducatusx-item">
          <span class="icon icon__ck-ducatusx-4">Total number of DUCX fixed at maximum 777.874.205</span>
        </div>
      </div>
      <div class="why-ducatusx-img">
        <img src="/assets/img/ducatusx/coins.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="section-ducatusx" style="background-color: rgb(232, 234, 240)">
  <div class="container">
    <h3 class="section-ducatusx-title">Traiding</h3>
    <p class="text">
      To attract existing crypto holders and traders to the Ducatus ecosystem, the Wrapped DucatusX (WDUCX) token was created on the Binance Smart Chain and has since been launched for trading on PancakeSwap and Coinsbit.io. A total amount of 777.874.205 tokens are minted over a period of 3 years with 90% of its supply being burned, triggered by swapping transactions of DUCX to WDUCX through the
      Ducatus wallet.
    </p>
  </div>
</section>

<section class="section-ducatusx" style="background-color: rgb(239, 239, 239)">
  <div class="container">
    <h3 class="section-ducatusx-title">Strong community support</h3>
  </div>

  <div class="c-support">
    <div class="c-support-item jc-end" style="background-color: rgb(232, 234, 240)">
      <div class="c-support-item-content">
        <span class="c-support-item-title">Manage DucatusX</span>
        <p class="c-support-item-text">Use our Ducatus Wallet to manage DucatusX</p>
        <div class="c-support-item-apps">
          <a href="https://wallet.ducatus.io/" target="_blank" class="app-ducatus"></a>
          <a href="https://play.google.com/store/apps/details?id=io.ducatus.walnew" target="_blank" class="app-googleplay"></a>
          <a href="https://apps.apple.com/us/app/ducatus-wallet-2-0-1/id1489722627?ign-mpt=uo%3D2" target="_blank" class="app-appstore"></a>
        </div>
        <div class="c-support-item-video">
          <iframe src="https://www.youtube.com/embed/WWtObEFdrhc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="c-support-item" style="background-color: rgb(208, 213, 230)">
      <div class="c-support-item-content">
        <span class="c-support-item-title">Convert Ducatus to DucatusX</span>
        <p class="c-support-item-text">
          DucatusX can be converted from and into Ducatus
          <br />
          (DUC) by a fixed ratio of 1:10 on
          <a target="_blank" href="https://www.ducatuscoins.com/buy">https://www.ducatuscoins.com/buy</a>
        </p>
        <br />
        <div class="c-support-item-video">
          <iframe src="https://www.youtube.com/embed/JjCssl-26OU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="c-support-item jc-end" style="background-color: rgb(208, 213, 230)">
      <div class="c-support-item-content">
        <span class="c-support-item-title">Create DucatusX token</span>
        <p class="c-support-item-text">
          DucatusX supports smart contracts and allows you
          <br />
          to tokenize your assets. The process is simple, all
          <br />
          you have to do is to follow the steps on
          <br />
          <a target="_blank" href="http://ducx.mywish.io/create">http://ducx.mywish.io/create</a>
          . A token created on
          <br />
          the DucatusX blockchain may be sold through
          <br />
          AA+DEX after its target launch in Q1 2022.
        </p>
        <div class="c-support-item-benefits">
          <div class="c-support-item-benefits-item">
            <span class="icon icon__ct-coin"></span>
            <p class="c-support-item-benefits-item-text">Create the right amount of tokens through DucatusX.</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__ct-coins"></span>
            <p class="c-support-item-benefits-item-text">Make a crowdsale contract using your created token, no need to create a new one.</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__ct-winter"></span>
            <p class="c-support-item-benefits-item-text">Reserve/Freeze tokens at specific addresses.</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__ct-distribute"></span>
            <p class="c-support-item-benefits-item-text">You can distribute tokens on your own.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-support-item" style="background-color: rgb(232, 234, 240)">
      <div class="c-support-item-content">
        <span class="c-support-item-title">Create crowdsale contract</span>
        <p class="c-support-item-text">
          To attract investments to your project, you can create
          <br />
          a token contract and sell it through a crowdsale. To
          <br />
          get project tokens, buyers will need to send you
          <br />
          DUCX, which you can then spend for the project’s
          <br />
          needs.
          <a target="_blank" href="http://ducx.mywish.io/create">http://ducx.mywish.io/create</a>
        </p>
        <br />
        <br />
        <div class="c-support-item-benefits cl-two">
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-functionality"></span>
            <p class="c-support-item-benefits-item-text">Includes token contracts functionality</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-distribution"></span>
            <p class="c-support-item-benefits-item-text">Automatic distribution of tokens during an investment</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-start-end"></span>
            <p class="c-support-item-benefits-item-text">Set the start and end dates for the ICO</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-change-dates"></span>
            <p class="c-support-item-benefits-item-text">Change dates of ICO</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-specify"></span>
            <p class="c-support-item-benefits-item-text">Specify a token rate</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-bonus"></span>
            <p class="c-support-item-benefits-item-text">Bonus programmes (i.e. time, amount of investments, etc.)</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-white-list"></span>
            <p class="c-support-item-benefits-item-text">White list</p>
          </div>
          <div class="c-support-item-benefits-item">
            <span class="icon icon__cc-investment"></span>
            <p class="c-support-item-benefits-item-text">Min / Max investment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ducatusx section-infoblock ducatusx-section" style="background-color: rgb(239, 239, 239)">
  <div class="container">
    <h3 class="section-ducatusx-title">Tech Spec (DucatusX vs Ethereum)</h3>

    <div class="section-infoblock-grid-double">
      <div class="section-infoblock-items-table">
        <div class="section-infoblock-item-cell">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_1' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_2' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_1' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_3' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_4' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_2' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_5' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_6' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_3' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_7' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_8' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_4' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_9' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_10' | translate"></div>
        </div>
      </div>

      <div class="section-infoblock-items-table">
        <div class="section-infoblock-item-cell">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_11' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_12' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_5' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_13' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_14' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_6' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_15' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_16' | translate"></div>
        </div>
        <div class="section-infoblock-item-cell section-infoblock-item-cell-title" [attr.data-title]="'PAGE.DUCATUSX.BLOCK_3.TABLE_TITLE_7' | translate">
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_17' | translate"></div>
          <div class="section-infoblock-item-cell-info" [innerHTML]="'PAGE.DUCATUSX.BLOCK_3.TEXT_18' | translate"></div>
        </div>
      </div>
    </div>
  </div>
</section>
