<section class="section-header-page" style="background-image: url(/assets/img/sections/vaucher-bg.png);">
    <div class="container">
        <!-- <h1 class="h1__title-page" [innerHTML]="'PAGE.VAUCHER.TITLE' | translate"></h1> -->
    </div>
</section>
<section class="app voucher">
    <div class="container">
        <div class="content-block">
            <span class="page-text-title" [innerHTML]="'PAGE.VAUCHER.TITLE' | translate">Voucher</span>
            <div class="page-btn-block">
                <span class="ducatus-btn ducatus-btn-brown icon icon__plus" (click)="popupAdd=true">New Voucher</span>
                <label for="file" class="ducatus-btn ducatus-btn-gold" [ngClass]="{ 'icon icon__loading': loadingCSV }">
                    <span *ngIf="!loadingCSV">Importing CSV</span>
                </label>
                <input type="file" id="file" accept=".csv" (change)="parseCsvFile($event)" class="ducatus-inputs-file"
                    [disabled]="loadingCSV">
                <span class="ducatus-btn ducatus-btn-brown table-refresh" (click)="updateVouchers()"
                    [ngClass]="{ 'icon icon__refresh': !updateVouchersTable, 'icon icon__loading': updateVouchersTable }"></span>
            </div>
        </div>
        <div class="content-block">
            <div class="page-table-wrap">
                <table class="page-table">
                    <thead class="page-table-head">
                        <th style="min-width: 70px;width: 90px;padding-left: 28px;padding-right: 5px;"
                            (click)="sortVouchers('id')">
                            <span class="text-center table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['id'] && changeSort, 'icon__sort-up': sortData['id'] && !changeSort}">
                                №
                            </span>
                        </th>
                        <th style="min-width: 130px; width: 130px;" (click)="sortVouchers('publish_date', 'date')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['publish_date'] && changeSort, 'icon__sort-up': sortData['publish_date'] && !changeSort}">
                                Voucher<br>
                                Add Date
                            </span>

                        </th>
                        <th style="min-width: 115px; width: 115px;" (click)="sortVouchers('publish_date_time', 'time')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['publish_date_time'] && changeSort, 'icon__sort-up': sortData['publish_date_time'] && !changeSort}">
                                Voucher <br> Add Time
                            </span>
                        </th>
                        <th style="min-width: 120px;" (click)="sortVouchers('voucher_code')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['voucher_code'] && changeSort, 'icon__sort-up': sortData['voucher_code'] && !changeSort}">
                                Voucher Code
                            </span>
                        </th>
                        <th style="min-width: 100px;" (click)="sortVouchers('activation_code')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['activation_code'] && changeSort, 'icon__sort-up': sortData['activation_code'] && !changeSort}">
                                Activation Code
                            </span>
                        </th>
                        <th style="min-width: 60px;" (click)="sortVouchers('usd_amount')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['usd_amount'] && changeSort, 'icon__sort-up': sortData['usd_amount'] && !changeSort}">
                                Amount $
                            </span>
                        </th>
                        <th style="min-width: 30px;" (click)="sortVouchers('lock_days')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['lock_days'] && changeSort, 'icon__sort-up': sortData['lock_days'] && !changeSort}">
                                Freeze <br> Days
                            </span>
                        </th>
                        <th style="min-width: 80px; width: 80px;" (click)="sortVouchers('is_active')">
                            <span class="text-center table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['is_active'] && changeSort, 'icon__sort-up': sortData['is_active'] && !changeSort}">
                                Active
                            </span>
                        </th>
                        <th style="min-width: 80px; width: 80px;" (click)="sortVouchers('is_used')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['is_used'] && changeSort, 'icon__sort-up': sortData['is_used'] && !changeSort}">
                                Used<br>Unused
                            </span>
                        </th>
                        <th style="min-width: 130px; width: 130px;" (click)="sortVouchers('activation_date', 'date')">
                            <span class="table-sort icon"
                                [ngClass]="{'icon__sort-down': sortData['activation_date'] && changeSort, 'icon__sort-up': sortData['activation_date'] && !changeSort}">
                                Activated <br> Date
                            </span>
                        </th>
                    </thead>
                    <tbody class="page-table-body">
                        <tr *ngFor="let item of vouchers"
                            [ngClass]="{ 'table-line-blocked': item.isProgress || false }">
                            <td class="text-center">{{ item.id || 'null' }}</td>
                            <td class="page-table-text-accent">{{ (item.publish_date | date:'dd.LL.y') || 'error' }}
                            </td>
                            <td>{{ (item.publish_date | date:'shortTime') || 'error' }}</td>
                            <td class="voucher-voucher-code">
                                <span class="page-table-w" title="{{ item.voucher_code }}">
                                    <span *ngIf="item.voucher_code.length > 14" class="voucher-show-info"
                                        (click)="openInfoModal('Voucher code', item.voucher_code)">(?)</span>
                                    {{ item.voucher_code || 'error' }}
                                </span>
                            </td>
                            <td class="voucher-activation-code">
                                <span class="page-table-w" title="{{ item.activation_code }}">
                                    <span class="voucher-show-info"
                                        (click)="openInfoModal('Activation code', item.activation_code)">(?)</span>
                                    {{ item.activation_code || 'error' }}
                                </span>
                            </td>
                            <td class="voucher-ducatus-amount">
                                <span class="page-table-w" title="{{ item.usd_amount }}">
                                    <span *ngIf="item.usd_amount.toString().length > 8" class="voucher-show-info"
                                        (click)="openInfoModal('Usd amount', item.usd_amount + ' $')">(?)</span>
                                    {{ item.usd_amount || '0' }}
                                </span>
                            </td>
                            <td>
                                <span class="page-table-w" title="{{ item.lock_days }}">
                                    {{ item.lock_days || '0' }}
                                </span>
                            </td>
                            <td class="text-center">
                                <label class="ducatus-inputs-switch">
                                    <input type="checkbox" [checked]="item.is_active || false"
                                        (change)="changeActive(item.id, item.is_active)">
                                    <span class="ducatus-inputs-switch-slider"></span>
                                </label>
                            </td>
                            <td>
                                <span class="page-table-active"
                                    [ngClass]="{ 'page-table-active-yes': item.is_used }"></span>
                            </td>
                            <td [ngClass]="{ 'page-table-text-accent': item.activation_date || false  }">
                                {{ item.activation_date | date:'dd.LL.y' || '-' }}
                            </td>
                            <td class="page-table-blocked" *ngIf="item.isProgress || false">
                                <span
                                    class="page-table-blocked-text">{{ item.progressText || 'in progress, please wait...' }}</span>
                                <span *ngIf="item.isProgressBtn || false"
                                    class="ducatus-btn ducatus-btn-brown page-table-blocked-btn"
                                    (click)="acceptTableProgress(item.id)">ok</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="popupAdd">
    <div class="popup-voucher">
        <div class="popup-container">
            <div class="popup-header">
                <span class="popup-header-text">New Voucher</span>
                <span class="popup-close" (click)="close()">X</span>
            </div>
            <div class="popup-body">
                <div class="popup-blocked" *ngIf="pupopInProgress">
                    <span class="popup-blocked-text" [innerHTML]="this.popupInProgressText"></span>
                    <span *ngIf="popupInProgressBtn" class="ducatus-btn ducatus-btn-brown"
                        (click)="acceptPopupProgress()">ok</span>
                </div>
                <form #voucherAddForm="ngForm" novalidate class="popup-form">
                    <div>
                        <label for="voucher_code">Voucher code</label>
                        <div class="popup-form-input">
                            <input type="text" name="voucher_code" required placeholder="Enter voucher code"
                                class="ducatus-inputs-input" id="voucher_code" [(ngModel)]="voucherCode">
                            <!-- <span class="icon icon__settings" (click)="generateCode('v')"></span> -->
                            <span class="icon"></span>
                        </div>
                    </div>
                    <div class="popup-form-group">
                        <div class="popup-form-group-item">
                            <label for="usd_amount">Amount</label>
                            <div class="popup-form-input">
                                <input type="text" placeholder="Amount" minlength="1" name="usd_amount"
                                    [(ngModel)]="usdAmount" required class="ducatus-inputs-input" id="usd_amount"
                                    oninput="this.value = this.value.replace(/[^0-9](^\,)/g, '').replace(/(\..*)\./g, '$1');">
                                <span class="popup-form-text-label">$</span>
                            </div>
                        </div>
                        <div class="popup-form-group-item">
                            <label for="freezeVoucher">Freeze time</label>
                            <div class="popup-form-input">
                                <input type="text" placeholder="Freeze" minlength="1" name="lock_days"
                                    [(ngModel)]="lockDays" class="ducatus-inputs-input" id="lock_days"
                                    oninput="this.value = this.value.replace(/[^0-9](^\,)/g, '').replace(/(\..*)\./g, '$1');">
                                <span class="popup-form-text-label">DAYS</span>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form-group">
                        <div class="popup-form-group-item">
                            <label class="popup-label" for="is_active">Activate</label>
                            <label class="ducatus-inputs-switch">
                                <input type="checkbox" name="is_active" id="is_active" [(ngModel)]="isActive"
                                    [checked]="false">
                                <span class="ducatus-inputs-switch-slider"></span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" [disabled]="voucherAddForm.invalid" class="ducatus-btn ducatus-btn-brown"
                        (click)="addVoucher()">ADD</button>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="popupModal">
    <div class="popup-voucher">
        <div class="popup-container popup-container-modal">
            <div class="popup-header">
                <span class="popup-header-text">{{ infoModalTitle }}</span>
                <span class="popup-close" (click)="closeInfoModal()">X</span>
            </div>
            <div class="popup-body">
                <span class="popup-body-text" title="{{ infoModalText }}">{{ infoModalText }}</span>
            </div>
        </div>
    </div>
</ng-container>