<section class="section-header-page section-header-page-about" style="background-image: url(/assets/img/sections/about-bg.png);">
    <div class="container">
        <h1 class="h1__title-page">About Ducatus Coin</h1>
    </div>
</section>

<section class="section-text-second">
    <div class="container">
        <div class="section-text-second-block">
            <span class="h2__title-section">About Ducatus Coin</span>
            <span class="span__line-section"></span>
            <p class="p__text-section">Convenient, fast, and secure, Ducatus Coin is a cryptocurrency created for long-term usability. Ducatus Coin is the only cryptocurrency supported by the one-of-a-kind Ducatus Crypto-Economy, a group of growing Ducatus affiliate businesses that advances cashless transactions for life’s basic necessities: food, clothing, shelter, rest and relaxation, and more.</p>
        </div>
        <div class="section-text-second-block">
            <div class="section-text-second-block-img" style="background-image: url(/assets/img/sections/about-img.png);"></div>
        </div>
    </div>
</section>


<section class="section-infoblock section-infoblock-filled">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">Advantages of Ducatus Coin</span>
            <span class="span__line-section"></span>
            <p class="p__text-section">Ducatus Coin combines the benefits of Bitcoin with a forward-thinking strategic business model – the Ducatus Crypto-Economy.</p>
        </div>
        <div class="section-infoblock-grid">
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__secure">Ducatus Coin is highly secure</span>
                <p class="section-infoblock-grid-item-text">Best-in-class security from a constantly evolving technology</p>
            </div>
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__rocket-2">Ducatus Coin is faster</span>
                <p class="section-infoblock-grid-item-text">10x faster fund transfers than Bitcoin due to 1 minute block times</p>
            </div>
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__hand-coin">Ducatus Coin is borderless</span>
                <p class="section-infoblock-grid-item-text">Transfer funds anywhere in the world at minimal cost</p>
            </div>
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__phone-coin">Ducatus Coin puts you in-charge</span>
                <p class="section-infoblock-grid-item-text">All the benefits of a global financial system right in your smartphone</p>
            </div>
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__big-data">Ducatus Coin is innovative</span>
                <p class="section-infoblock-grid-item-text">Supported by a strategic infrastructure designed to advance global acceptance and adoption of cryptocurrency</p>
            </div>
            <div class="section-infoblock-grid-item">
                <span class="section-infoblock-grid-item-title icon icon__community">Ducatus Coin is professional</span>
                <p class="section-infoblock-grid-item-text">Ducatus management ensures that Ducatus Coin conforms to global laws and regulations</p>
            </div>
        </div>
    </div>
</section>

<section class="section-infoblock">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">Ducatus Coin Technology</span>
            <span class="span__line-section"></span>
            <p class="p__text-section">Ducatus Coin is a fork of Litecoin and thus uses scrypt as the basis of a Proof of Work algorithm.</p>
        </div>
        <div class="section-infoblock-items">
            <div class="section-infoblock-item">
                <span class="span__title-section">Ducatus Blockchain</span>
                <a href="https://insight.ducatus.io/#/DUC/mainnet/home" target="_blank" class="section-infoblock-item-link icon icon__blockchain"></a>
            </div>
            <div class="section-infoblock-item">
                <span class="span__title-section">Source Code</span>
                <a href="https://github.com/Ducatus/ducatuscoin-core" target="_blank" class="section-infoblock-item-link icon icon__source-code"></a>
            </div>
        </div>
    </div>
</section>

<section class="section-infoblock">
    <div class="container">
        <div class="section-infoblock-text">
            <span class="h2__title-section">Ducatus Coin Milestones</span>
            <span class="span__line-section"></span>
        </div>
        <div class="section-infoblock-items-table">
            <div class="section-infoblock-item-cell">
                <span data-year="January 2020" class="section-infoblock-item-cell-text"><b>The Ducatus Tangem Card was launched.</b></span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="October 2019" class="section-infoblock-item-cell-text">The multi-currency Ducatus Wallet was launched.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="January 2019" class="section-infoblock-item-cell-text">Ducatus was listed as “10 Fastest Growing Blockchain Solutions Providers to Watch in 2019” by APAC Business Headlines.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="March 2018" class="section-infoblock-item-cell-text">Ducatus Coin was listed on Coinbene cryptocurrency exchange.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="January 2018" class="section-infoblock-item-cell-text">Ducatus sponsored Blockchain Cruise Asia, a major regional blockchain and cryptocurrency event.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="October 2017" class="section-infoblock-item-cell-text">The Ducatus blockchain was launched and the first live public Ducatus transaction was executed by our CEO Ronny Tome with Dustin Trammell at the Ducatus European Summit in Rome.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="September 2017" class="section-infoblock-item-cell-text">On-blockchain mining was completed for all Ducatus coins.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="August 2017" class="section-infoblock-item-cell-text">The Ducatus corporate office was inaugurated in Singapore.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="July 2017" class="section-infoblock-item-cell-text">The Ducatus technology work-week was hosted by Dustin Trammell at DEFCON XXV in Las Vegas.</span>
            </div>
            <div class="section-infoblock-item-cell">
                <span data-year="March 2017" class="section-infoblock-item-cell-text">The Ducatus brand and first Ducatus Technical White Paper were launched at the Ducatus Global Summit in Dubai.</span>
            </div>
        </div>
    </div>
</section>