<section class="section-header-page" style="background-image: url(/assets/img/sections/buy-bg.png);">
    <div class="container">
        <!-- <h1 class="h1__title-page" [innerHTML]="'PAGE.LOTTERY.TITLE' | translate">Gold Lottery</h1> -->
        <h1 class="h1__title-page">404</h1>
    </div>
</section>

<section class="app error-page">
    <div class="container">
        <h1>404</h1>
        <small>page not found</small>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="button button__brown-red">go to main page</a>
    </div>
</section>