<section class="login" id="login">
  <span class="login-logo"></span>
  <div class="login-container">
    <div class="buttons-switch">
      <span class="buttons-switch-item active">Sign in</span>
      <span class="buttons-switch-item">Sign up</span>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="login-form">
      <label for="email" class="label label-error" data-error="email is invalid">E-mail</label>
      <input type="email" id="email" class="input input-error" placeholder="E-mail">
      <label for="password" class="label">Password</label>
      <input type="password" id="password" class="input" placeholder="Password">
      <button type="submit" [ngClass]="{ 'disabled' : loginForm.valid }" [disabled]="loginForm.valid">Login</button>
    </form>
  </div>
</section>