<section class="login" id="login">
  <span class="login-logo"></span>
  <div class="login-container" *ngIf="!hasUser">
    <!-- <div class="buttons-switch">
      <span class="buttons-switch-item active">Sign in</span>
      <span class="buttons-switch-item">Sign up</span>
    </div> -->
    <form #loginForm="ngForm" (submit)="sendLoginForm(loginForm)" novalidate class="login-form">
      <label for="username" class="label">Name</label>
      <input name="username" [(ngModel)]="login" type="text" minlength="3" id="username" required class="input"
        placeholder="Username">
      <label for="password" class="label">Password</label>
      <input name="password" [(ngModel)]="password" type="password" minlength="3" id="password" required class="input"
        placeholder="Password">
      <button type="submit" class="ducatus-btn ducatus-btn-brown" [ngClass]="{ 'icon icon__loading' : formIsProgress }"
        [disabled]="loginForm.invalid">
        <span *ngIf="!formIsProgress">Login</span>
      </button>

      <re-captcha
        [(ngModel)]="formModel.captcha"
        name="captcha"
        required
        siteKey="6Ldw2sAZAAAAAAvBdORnt1ydyDzUR1S3y2QRojqu"
        #captchaControl="ngModel"
      ></re-captcha>
    </form>
  </div>
  <div class="login-container" *ngIf="hasUser">
    <span class="login-text login-text-title login-text-spacer">Hello, you are logged in</span>
    <span class="ducatus-btn ducatus-btn-gold" routerLink="/admin/voucher">Vouchers</span>
    <span class="login-text login-text-spacer">or</span>
    <span class="ducatus-btn ducatus-btn-brown" (click)="logout()"
      [ngClass]="{ 'icon icon__loading' : logoutIsProgress }">
      <span *ngIf="!logoutIsProgress">Logout</span>
    </span>
  </div>
</section>