<section class="section-header-page" style="background-image: url(/assets/img/sections/buy-bg.png);">
    <div class="container">
        <h1 class="h1__title-page" [innerHTML]="'PAGE.LOTTERY.TITLE' | translate">Gold Lottery</h1>
    </div>
</section>

<section class="app gold-lottery" [ngClass]="{ 'bg-win': win }">
    <div class="container">
        <div class="lottery">
            <div class="lottery-wrap">

                <div *ngIf="!win">
                    <div class="lottery-form-switch">
                        <span class="lottery-form-switch-button" [ngClass]="{ 'active': this.type === 'registration' }" (click)="changeForm('registration')">Registration</span>
                        <span class="lottery-form-switch-button" [ngClass]="{ 'active': this.type === 'check' }" (click)="changeForm('check')">Checking</span>
                    </div>

                    <div class="lottery-form-block" *ngIf="this.type === 'registration'">

                        <form #registrationForm="ngForm" (ngSubmit)="confirmRegistration()" id="registrationForm" ngNativeValidate class="lottery-form-block-registration" *ngIf="registrationStep === 0">
                            <div class="lottery-form-top">
                                <span class="lottery-form-top-text">Fill out the form to link your gold card, DUC, DUCX wallets to recive
                                    DUC and GOLD TOKEN</span>
                            </div>

                            <div class="lottery-form">
                                <div class="lottery-form-field" data-title="Code">
                                    <div class="lottery-form-field-input">
                                        <label for="input-code">Enter card Private code <span *ngIf="formData.validCodeRegistrated" class="error-text">Code has already registered!</span><span *ngIf="formData.validCode && !formData.validCodeRegistrated" class="error-text">Invalid code!</span></label>
                                        <input #code="ngModel" [(ngModel)]="formData.code" name="code" [ngClass]="{ 'error-input': formData.validCode }" [disabled]="formData.formValidating" (ngModelChange)="formValidate('CODE')" required maxlength="39" placeholder="0021-1C4E-B5F2-4FDD-4954-4846-9551-CFDD" type="text" id="input-code" class="lottery-form-input" oninput="this.value = this.value.replace(/[^a-zA-Z0-9-]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div>
                                </div>
                                <div class="lottery-form-field" data-title="DUC">
                                    <div class="lottery-form-field-input">
                                        <label for="input-duc">Enter DUC address <span *ngIf="formData.validDuc" class="error-text">Invalid address!</span></label>
                                        <input #addressDuc="ngModel" [(ngModel)]="formData.addressDuc" name="addressDuc" [ngClass]="{ 'error-input': formData.validDuc }" [disabled]="formData.validateDuc || formData.formValidating" (ngModelChange)="formValidate('DUC')" required maxlength="42" placeholder="Enter your Ducatus address" type="text" id="input-duc" class="lottery-form-input">
                                        <div class="loading-small" *ngIf="formData.validateDuc">
                                            <div class="loading-dots">
                                                <div class="loading-dots-wrap">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lottery-form-field" data-title="DUCX">
                                    <div class="lottery-form-field-input">
                                        <label for="input-ducx">Enter DUCX address <span *ngIf="formData.validDucx" class="error-text">Invalid address!</span></label>
                                        <input #addressDucx="ngModel" [(ngModel)]="formData.addressDucx" name="addressDucx" [ngClass]="{ 'error-input': formData.validDucx }" [disabled]="formData.formValidating" (ngModelChange)="formValidate('DUCX')" required maxlength="42" placeholder="Enter your DucatusX address" pattern="0x[0-9a-fA-F]{40}" type="text" id="input-ducx" class="lottery-form-input">
                                    </div>
                                </div>
                            </div>

                            <div class="lottery-form-footer">
                                <button type="submit" class="lottery-form-footer-button" [ngClass]="{ 'disabled' : formData.button }" [disabled]="formData.button">Next Step</button>
                            </div>
                        </form>
                        <!--
                        <div class="lottery-form-block-registration" *ngIf="registrationStep === 1">
                            <div class="lottery-form-top">
                                <span class="lottery-form-top-text">Congratulations! <br> You have successfully registred a card!</span>
                            </div>

                            <div class="lottery-form">
                                <div class="lottery-form-field" data-title="DUC">
                                    <div class="lottery-form-field-input">
                                        <label for="input-duc">Within 30 minutes, your DUC address will be replenished</label>
                                        <span class="lottery-form-input">LsYgkGZZX2tvJYmb87RYwC3KdSwLtVpeiF</span>
                                    </div>
                                </div>
                                <div class="lottery-form-field" data-title="DUCX">
                                    <div class="lottery-form-field-input">
                                        <label for="input-ducx">GOLD token will be placed on this addres</label>
                                        <span class="lottery-form-input">0xfd367A2de6b8ECAe413BB4E61057C1430d4f4a61</span>
                                    </div>
                                </div>
                            </div>

                            <div class="lottery-form-footer">
                                <button type="submit" class="lottery-form-footer-button" (click)="registrationStep = 2">Next Step</button>
                            </div>
                        </div>

                        <div class="lottery-form-block-registration" *ngIf="registrationStep === 2">
                            <div class="lottery-form-top">
                                <span class="lottery-form-top-text">This code is already registered!</span>
                            </div>

                            <div class="lottery-form-info">
                                <span class="lottery-form-info-text">Please try a another code</span>
                            </div>

                            <div class="lottery-form-footer">
                                <button type="submit" class="lottery-form-footer-button" (click)="registrationStep = 0">Next Step</button>
                            </div>
                        </div> -->

                    </div>

                    <div class="lottery-form-block" *ngIf="this.type === 'check'">
                        <form #checkForm="ngForm" ngNativeValidate (ngSubmit)="confirmCheck()" class="lottery-form-block-check">
                            <div class="lottery-form-top">
                                <span class="lottery-form-top-text">Fill out the form to check your card registration</span>
                            </div>

                            <div class="lottery-form">
                                <div class="lottery-form-field" data-title="Code">
                                    <div class="lottery-form-field-input">
                                        <label for="input-code">Enter Public code <span *ngIf="(formDataCheck.validCode || formDataCheck.validPreCode) && !formDataCheck.validRegistrate " class="error-text">Invalid code!</span><span *ngIf="formDataCheck.validRegistrate" class="error-text">Сode not registered!</span></label>
                                        <input #code="ngModel" [(ngModel)]="formDataCheck.code" name="code" [ngClass]="{ 'error-input': formDataCheck.validCode }" [disabled]="formData.formValidating" (ngModelChange)="formCodeValidate()" required maxlength="39" placeholder="PUB0-1C4E-B5F2-4FDD-4954-4846-9551-CFDD" type="text" id="input-code" class="lottery-form-input" oninput="this.value = this.value.replace(/[^a-zA-Z0-9-]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div>
                                </div>
                            </div>

                            <div class="lottery-form-footer">
                                <button type="submit" class="lottery-form-footer-button" [ngClass]="{ 'disabled' : formDataCheck.button }" [disabled]="formDataCheck.button">Next Step</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="win">

                    <div class="lottery-form-block winner-block" data-title="Congratulations!">
                        <div *ngIf="winData.token_type >= 144" class="winner-block-img" style="background-image: url(/assets/img/gold/bar.png);"></div>
                        <div *ngIf="winData.token_type <= 144" class="winner-block-img" style="background-image: url(/assets/img/gold/coin.png);"></div>
                        <div class="winner-block-info">
                            <div class="winner-block-info-gold">
                                <div class="winner-block-info-gold-left">
                                    <ul>
                                        <li>Gold: <span *ngIf="winData.token_type >= 144">bar</span><span *ngIf="winData.token_type < 144">coin</span></li>
                                        <li>Purchase Date: <span>{{ (winData.purchase_date| date : 'yyyy-MM-dd') || 'none' }}</span></li>
                                        <li>Purity: <span>99.999%</span></li>
                                        <li>Country: <span>{{ winData.country || 'none' }}</span></li>
                                    </ul>
                                </div>

                                <div class="winner-block-info-gold-right">
                                    <ul>
                                        <li>Weight: <span>{{ winData.token_type }}g</span></li>
                                        <li>Gold price, $/gram: <span>{{ winData.gold_price || 'none' }}$</span></li>
                                        <li>Certified Assayer: <span>{{ winData.certified_assayer || 'none' }}</span></li>
                                        <li>Production Date: <span>{{ (winData.production_date| date : 'yyyy-MM-dd') || 'none' }}</span></li>
                                    </ul>
                                </div>
                            </div>

                            <span class="winner-block-info-text">The bonus addresses:</span>
                            <div class="winner-block-info-addreses">
                                <div class="winner-block-info-addreses-left">
                                    <span class="winner-block-info-addreses-text"><span>{{ ducPrice || 'none' }}</span> DUC directed to this address</span>
                                    <span class="winner-block-info-addreses-address">{{ winData.ducatus_address || 'none' }}</span>
                                </div>
                                <div class="winner-block-info-addreses-right">
                                    <span class="winner-block-info-addreses-text">GOLD DUCX token directed to this address</span>
                                    <span class="winner-block-info-addreses-address">{{ winData.ducatusx_address || 'none' }}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>