@import "../../../scss/vars";
@import "../../../scss/mixins";

section.gold-lottery {

    .error-input {
        border: 1px solid red !important;
    }

    #input-code {
        text-transform: uppercase;
    }

    .lottery-form-field-input {
        position: relative;
    }

    .container {
        padding-top: 100px;
    }

    .lottery {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;

        &-wrap {}

        &-form {
            padding: 40px;
            background-image: url('/assets/img/gold/logo.svg');
            background-position: center;
            background-size: 200px;
            background-repeat: no-repeat;

            @include b(600) {
                padding: 40px 10px;
            }

            @include b(700) {
                padding: 40px 20px;
            }

            &-info {
                padding: 100px 0px;
                display: flex;
                justify-content: center;
                align-items: center;

                &-text {
                    background-color: rgba($color: #e1e1e1, $alpha: 0.5);
                    padding: 10px 15px;
                    text-align: center;
                    max-width: 300px;
                    width: 100%;
                    font-weight: 500;
                    color: gray;
                    border-radius: 10px;
                }
            }

            &-switch {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: center;
                grid-gap: 20px;
                margin-bottom: 20px;

                &-button {
                    background-color: $gold-2;
                    text-align: center;
                    padding: 20px;
                    font-size: 18px;
                    border-radius: 10px;
                    color: gray;
                    box-shadow: 0px 3px 6px #0000002e;
                    cursor: pointer;
                    transition: 0.4s ease;

                    &:hover {
                        background-color: $gold;
                        color: white;
                    }
                }

                .active {
                    background-color: white;
                    cursor: default !important;

                    &:hover {
                        background-color: white;
                        color: gray;
                    }
                }
            }

            &-code {
                display: grid;
                grid-template-columns: repeat(4, 80px) 1fr;
                grid-gap: 10px;
                justify-content: center;
                align-items: center;

                input {
                    text-align: center;
                    padding: 10px 5px;
                }
            }

            &-top {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 25px 30px;
                background-color: $brown-red;

                &-text {
                    text-align: center;
                    font-size: 18px;
                    color: white;
                }
            }

            &-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;

                .disabled {
                    opacity: 0.8;
                }

                &-button {
                    font-size: 18px;
                    color: white;
                    cursor: pointer;
                    transition: 0.4s ease;
                    background-color: $brown-red;
                    padding: 10px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    outline: none !important;
                    border: none !important;

                    &:hover {
                        // color: $gold;
                        color: white;
                        background-color: $gold;
                    }
                }
            }

            &-block {
                background-color: $gold-2;
                padding-bottom: 30px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

                &-registration {}

                &-check {
                    // display: none;
                }
            }

            &-input {
                border-radius: 8px;
                padding: 10px 20px;
                font-size: 16px;
                height: 45px;
                display: block;
                outline: none;
                box-shadow: none;
                appearance: none;
                border: none;
                width: 100%;
                background-color: #f3f3f3;
                border: 1px solid #ddd;
                letter-spacing: 1.1px;
                display: flex;
                align-items: center;

                &-error {
                    color: $brown-red;
                }
            }

            &-field {
                width: 100%;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: 80px 1fr;
                grid-gap: 15px;

                @include b(600) {
                    grid-template-columns: 1fr;
                }

                &-check {
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    grid-gap: 20px;
                    justify-content: center;
                    align-items: end;
                    padding: 20px 0 40px 0;

                    input {
                        text-transform: uppercase;
                        padding: 10px 20px;
                        text-align: left;

                        &:nth-child(1) {
                            padding: 10px 5px;
                            text-align: center;
                        }
                    }

                    label {
                        width: 100%;
                        margin-bottom: 10px;
                        display: block;
                        font-size: 14px;
                        color: gray;
                        font-weight: 500;
                    }
                }

                &:before {
                    content: attr(data-title);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    font-size: 18px;
                    border-radius: 8px;
                    background-color: $brown-red;
                    color: $white;
                    margin-top: 30px;
                    height: 43px;
                    font-weight: normal;

                    @include b(600) {
                        display: none;
                    }
                }

                label {
                    width: 100%;
                    margin-bottom: 10px;
                    display: block;
                    font-size: 14px;
                    color: gray;
                    font-weight: 500;
                }
            }
        }
    }
}

.bg-win {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/img/gold/bg.jpg');
}

.winner-block {
    overflow: visible !important;
    position: relative;
    padding: 10px 20px 20px 20px;

    &:before {
        content: attr(data-title);
        background-image: url('/assets/img/gold/title.svg');
        background-position: center;
        background-size: cover;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -20px;
        max-width: 300px;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: white;
        font-size: 18px;
    }

    &-img {
        background-color: #fff;
        background-position: center;
        background-size: contain;
        width: 125px;
        height: 125px;
        border-radius: 10em;
        box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.407);
        border: 8px solid #f4f2f1;
        margin: 20px auto;
    }

    &-info {
        background-color: white;
        border-radius: 10px;
        padding: 20px 10px;
        box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.407);

        &-gold {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include b(700) {
                flex-direction: column;
            }

            ul {
                margin: 0;
                width: 100%;
                padding: 0 20px;

                li {
                    margin: 0;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    border-bottom: 1px solid gray;
                    font-size: 14px;
                    width: 100%;

                    span {
                        color: $brown-red;
                    }
                }
            }

            &-left {
                width: 50%;
                padding-left: 15px;

                @include b(700) {
                    width: 100%;
                }
            }

            &-right {
                width: 50%;

                @include b(700) {
                    width: 100%;
                    padding-left: 15px;
                }
            }
        }

        &-text {
            text-align: center;
            width: 100%;
            display: block;
            font-size: 18px;
            padding: 15px 10px;

            @include b(700) {
                padding: 15px 10px 5px 10px;
            }
        }

        &-addreses {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            @include b(700) {
                flex-direction: column;
            }

            &-left,
            &-right {
                width: 50%;
                border-left: 1.5px solid #000;
                padding-left: 1px;
                display: flex;
                flex-direction: column;
                padding-left: 10px;

                @include b(700) {
                    border-left: none;
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                }
            }

            &-address {
                font-size: 10px;
                color: $brown-red;
                margin-top: 2px;
            }

            &-text {
                font-size: 12px;

                span {
                    font-size: 14px;
                    color: $brown-red;
                }
            }
        }

    }

}

.error-text {
    color: $brown-red;
    margin-left: 10px;
}