<section class="section-header-page header-entries-page"
  style="background-image: url(/assets/img/sections/lottery-prize-watch.png);">
  <div class="container">
    <h1 class="h1__title-page" [innerHTML]="'PAGE.TICKETS.TITLE' | translate"></h1>
  </div>
</section>
<section class="app lottery-info-page color-page">
  <div class="container">

    <div class="lottery-info">
      <span class="lottery-info-title">{{ 'PAGE.TICKETS.TABLE.TITLE' | translate }}</span>

      <div class="lottery-info-table" *ngIf="players">
        <div class="lottery-info-table-items" *ngFor="let item of players">
          <div class="lottery-info-table-item">{{ item.tickets_amount }}</div>
          <div class="lottery-info-table-item">
            <a target="_blank"
              [attr.href]="'https://insight.ducatus.io/insight#/DUC/mainnet/tx/'+ item.tx_hash">{{ item.tx_hash }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>