@import "../../../../scss/vars";
@import "../../../../scss/mixins";

 .full-height{
  height: 100% !important;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  z-index: 900;
  transition: 0.2s ease;

  @include b(750) {
    margin-top: 0 !important;
    padding: 0;
    height: 60px;
  }

  &-admin {
    padding: 20px !important;

    @include b(750) {
      padding: 10px 20px !important;
    }
  }

  &-hide {
    display: none !important;
  }


  &-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include b(750) {
      display: block;
      text-align: center;
    }
  }

  &-logo-block {
    width: 35%;

    @include b(900) {
      width: 200px;
    }

    @include b(750) {
      width: 100%;
      margin-top: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 290px;

      @include b(900) {
        width: 200px;
      }

      @include b(750) {
        width: 120px;
      }
    }
  }

  &-menu {
    &-block {
      padding: 0;
      left: 0;
      flex-basis: 65%;
      display: flex;
      align-items: center;
      text-align: center;
      transition: 0.11s ease;
      justify-content: space-between;

      @include b(900) {
        padding-right: 20px;
      }

      @include b(750) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        padding-right: 0;
        background-color: $brown-red;
        color: $white;
      }

      .wallet{
        display: none;
        @include b(750){
          display: block;
        }
        padding: 10px 22px;
        color: #892331;
        border-radius: 22px;
        background-color:#fff;
      }



      &-admin {
        flex-basis: auto;
        margin-right: 100px;

        @include b(750) {
          margin-right: 0;
        }
      }
    }

    
    &-contact{
      display: none;
      margin-top: 30px;
      @include b(750){
        display: block;
      }
      @include b(380){
        margin-top: 15px;
      }
      .downloading{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px;
        img{
          width: 160px;
          padding: 5px;
        }
      }


      .links{
        margin-top:20px;
        a{
          margin: 5px;
          img{
            width: 30px;
          }
        }

      }
     
    }


    &-link {
      color: black;
      text-decoration: none;
      transition: 0.1s ease;
      margin: 0 7px;
      cursor: pointer;
      font-size: 19px;
      line-height: 23px;
      font-weight: 400;
      text-transform: capitalize;

      &:nth-child(1){
        margin-top: 0px;
      }
      @include b(1000) {
        margin: 2px 10px;
        font-size: 14px;
      }

      @include b(750) {
        margin: 15px auto;
        font-size: 24px;
        line-height: 29px;
        color: $white;
      }

      @include b(380) {
        margin: 10px auto;
        font-size: 19px;

      }
    }

    &-toggle-block {
      display: none;
      cursor: pointer;

      @include b(750) {
        display: block;
        position: absolute;
        left: 14px;
        top: 22px;
        width: 26px;
        height: 26px;
        z-index: 1200;

        .close-first {
          margin-top: 2px;
          width: 26px;
          height: 0;
          left:0;
          border: 1px solid #FFFFFF;
          background-color: #fff;
          transform: rotate(-45deg);
          cursor: pointer;
        }

        .close-second {
          position: absolute;
          top: 2px;
          width: 26px;
          height: 0;
          left:0;
          border: 1px solid #FFFFFF;
          background-color: #fff;
          transform: rotate(45deg);
          cursor: pointer;
        }
      }

      .header-menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .line-toggle {
          margin-bottom: 8px;
          width: 26px;
          height: 0;
          border: 1px solid #8A2432;
          background-color: #fff;
        }
      }

      input {
        display: none;
      }
    }
  }
}

.menu-open {
  @include b(750) {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }

 
}
