<app-header-new></app-header-new>

<section class="section-header section-header-new">
    <div class="section-header-container">
        <div class="swiper-pagination"></div>
        <div class="section-header-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let slide of slider">
                        <div class="section-header-wrap section-header-wrap-desctop"
                            [style.background-image]="'url(assets/img/slider/' + slide[lang].image + ')'"></div>
                        <div class="section-header-wrap section-header-wrap-mobile"
                            [style.background-image]="'url(assets/img/slider/' + slide[lang].image_mob + ')'"></div>
                        <div class="container-slider">
                            <div class="slider-item">
                                <h2 class="h2__slider-title" [innerHTML]="slide[lang].title"></h2>
                                <p class="p__slider-item" [innerHTML]="slide[lang].text"></p>
                                <a [routerLink]="'assets/downloads/pdf/' + slide[lang].file" target="_blank"
                                    class="button">{{ slide[lang].button }} ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-financial-evolution">
    <div class="container">
        <img src="assets/img/sections/financial-img.svg" alt="Financial Evolution">
        <h3 class="h3-title-section">A New Financial Evolution</h3>
        <span class="span-subtitle-section">To be the world’s most popular and usable cryptocurrency…</span>
        <p class="p-text-section">One Ducatus Per Person on the PlanetBased on the principles of the Italian
            mathematician Leonardo Fibonacci, Ducatus hasgenerated a total of 7,778,742,049 crypto coins. Once these
            coins have all been distributed, their number will be similar to the number of people on our planet.
            <br><br>
            The vision for Ducatus Coin is bold. But with a combination of world-class digital infrastructure, a
            powerful network distribution system, and a suite of related crypto-economy businesses, it is a goal that is
            not impossible to achieve.
            <br><br>
            Ducatus Coin owners can now access a wide range of products and services both from Ducatus Crypto-Economy
            businesses and third-party merchants. These crypto-economy businesses are being rolled out around the word
            in parallel with the distribution of our coins to demonstrate real-world applications not only for Ducatus
            Coin but also for cryptocurrencies as a whole.</p>
        <span class="ductus-btn-gradient">Find Out More ></span>
    </div>
</section>

<section class="section-community-new">
    <div class="container">
        <h3 class="h3-title-section">Communities popularise technologies <br>
            Companies like Ducatus make them mainstream.</h3>
        <span class="span-subtitle-section">Ducatus develops coins commercially</span>
        <div class="section-community-icons">
            <span class="icon icon__cash-community">Ducatus Coins are produced and sold, then profits are invested to
                build the brand. Ducatus</span>
            <span class="icon icon__arrow-community">Coin technology is developed internally based on our strategic
                long-term business plan.</span>
        </div>
    </div>
</section>

<section class="section-maintains-market-leading">
    <div class="container">
        <h3 class="h3-title-section">Ducatus maintains market-leading <br> standards</h3>
        <div class="section-maintains-market-leading-icons">
            <div class="icon icon__gov-new">
                <span class="section-maintains-market-leading-title">Governance</span>
                <span class="section-maintains-market-leading-text">Managed by experienced professionals with
                    backgrounds in a range of fields including marketing, finance, and engineering</span>
            </div>
            <div class="icon icon__users-new">
                <span class="section-maintains-market-leading-title">Transparency</span>
                <span class="section-maintains-market-leading-text">Visible and accessible senior management team and
                    shareholders</span>
            </div>
            <div class="icon icon__hands-new">
                <span class="section-maintains-market-leading-title">Compliance</span>
                <span class="section-maintains-market-leading-text">Cooperates with government bodies and abides by
                    regulations set by authorities</span>
            </div>
        </div>
        <h3 class="h3-title-section">Ducatus is a business, not a <br>
            technology project</h3>
        <div class="section-maintains-market-leading-icons">
            <div class="icon icon__rocket-new">
                <span class="section-maintains-market-leading-text">Established
                    <br>
                    in 2016</span>
            </div>
            <div class="icon icon__stonks-new">
                <span class="section-maintains-market-leading-text">Highly-experienced global Management Team in
                    2016</span>
            </div>
            <div class="icon icon__web-new">
                <span class="section-maintains-market-leading-text">Dynamic global sales team: Networking Marketing
                    Strategy</span>
            </div>
            <div class="icon icon__duc-coin-new">
                <span class="section-maintains-market-leading-text">Nearly 1 Billion Ducatus Coins sold in over 180
                    countries as of January 2020 in 2016</span>
            </div>
        </div>
    </div>
</section>

<section class="section-usability-crypto">
    <div class="container">
        <h3 class="h3-title-section">Usability with the Ducatus <br> Crypto-Economy</h3>
    </div>
    <img src="assets/img/sections/usability-img-section.svg" alt="Usability with the Ducatus Crypto-Economy">
    <div class="container">
        <p class="p-text-section">Use Ducatus Coins to buy coffee, book a holiday, shop for souvenirs. You can even
            purchase property or your dream home if you wish.
            <br><br>
            These and more financial exchanges are made possible through the unique Ducatus Crypto-Economy. Ducatus
            believes that usability is the ultimate measure of legitimate currency. In support of this vision, Ducatus
            affiliate businesses offering basic needs were created to deliver ease and convenience to Ducatus Coin and
            other crypto users. These Ducatus businesses are the cornerstones of the Ducatus Crypto-Economy. From buying
            an espresso to booking a room at a luxury hotel, transactions that used to be cash-only can now be cashless,
            through the use of Ducatus Coin.</p>
    </div>
</section>

<app-footer-new></app-footer-new>