@import "../../../../scss/vars";
@import "../../../../scss/mixins";

footer {
  position: relative;
  top: 300px;
  background-color: #892331;

  @include b(1500) {
    top: 540px;
  }

  @include b(1000) {
    top: 1000px;
  }

  .container {
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include b(647) {
      padding: 0;
    }

    .menu {
      margin: 32px 0 18px;

      @include b(647) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      a {
        margin: 0 13px;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;

        @include b(647) {
          margin: 10px 0;
        }
      }
    }

    .downloading {
      padding: 25px 0 21px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      p {
        margin-top: 0;
        margin-bottom: 16px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
      }

      .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          margin: 0 5px;

          @include b(687) {
            margin: 5px;
          }

          img {
            width: 126px;
          }
        }
      }
    }

    .links {
      margin: 26px auto 24px;

      a {
        img {
          margin: 0 4px;
        }
      }
    }
  }
}
