<ng-container>

    <section class="section-app" *ngIf="sectionApp" [ngClass]="{'buy-footer': buyFooter}">
        <div class="section-app-wrap">
            <div class="container">
                <div class="section-app-block-wrap">
                    <div class="section-text">
                        <span class="section-app-title" [innerHTML]="'APPS.TITLE' | translate"></span>
                        <span class="section-app-text" [innerHTML]="'APPS.SUBTITLE' | translate"></span>
                    </div>
                    <div class="section-app-list">
                        <a href="https://wallet.ducatus.io/" target="_blank" class="download_ducatus"></a>
                        <a href="https://play.google.com/store/apps/details?id=io.ducatus.walnew" target="_blank"
                            class="download_googleplay"></a>
                        <a href="https://apps.apple.com/us/app/ducatus-wallet-2-0-1/id1489722627?ign-mpt=uo%3D2"
                            target="_blank" class="download_appstore"></a>
                    </div>
                </div>
                <div class="section-app-block">
                    <div class="section-app-block-wrap">
                        <div class="section-text">
                            <span class="section-app-title" [innerHTML]="'APPS.TEXT_1' | translate"></span>
                            <span class="section-app-text" [innerHTML]="'APPS.TEXT_2' | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-new" *ngIf="hideFooter && !buyFooter">
        <div class="container">
            <div class="section-footer">
                <div class="footer-left">
                    <div class="footer-logo"></div>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/WeAreDucatus/" target="_blank"
                            class="icon icon__facebook_new"></a>
                        <a href="https://twitter.com/DucatusGlobal" target="_blank" class="icon icon__twitter_new"></a>
                        <a href="https://instagram.com/ducatusglobal" target="_blank"
                            class="icon icon__instagram_new"></a>
                        <a href="https://www.linkedin.com/company/ducatus-global" target="_blank"
                            class="icon icon__linkedin_new"></a>
                        <a href="https://www.youtube.com/channel/UCBjE5LLJQyMq6crQholohTQ" target="_blank"
                            class="icon icon__youtube_new"></a>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-menu" [attr.data-title]="'FOOTER.MENU.SECTION.ONE.TITLE' | translate">
                        <a class="footer-menu-link"
                            routerLink="/about">{{ 'FOOTER.MENU.SECTION.ONE.LINK_1' | translate }}</a>
                        <a class="footer-menu-link"
                            href="https://www.ducatus.com">{{ 'FOOTER.MENU.SECTION.ONE.LINK_2' | translate }}</a>
                        <a class="footer-menu-link"
                            routerLink="/contact">{{ 'FOOTER.MENU.SECTION.ONE.LINK_3' | translate }}</a>
                    </div>

                    <div class="footer-menu" [attr.data-title]="'FOOTER.MENU.SECTION.FOUR.TITLE' | translate">
                        <a class="footer-menu-link" href="https://ducatus.net"
                            target="_blank">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_1' | translate }}</a>
                        <a class="footer-menu-link" href="https://staydmob.com/"
                            target="_blank">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_2' | translate }}</a>
                        <a class="footer-menu-link" href="https://merchants.ducatus.com" target="_blank"
                            [attr.data-unactive]="'FOOTER.MENU.SECTION.SOON' | translate">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_3' | translate }}</a>
                    </div>

                    <div class="footer-menu" [attr.data-title]="'FOOTER.MENU.SECTION.FOUR.TITLE' | translate">
                        <a class="footer-menu-link" href="https://ducatus.net"
                            target="_blank">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_1' | translate }}</a>
                        <a class="footer-menu-link" href="https://staydmob.com/"
                            target="_blank">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_2' | translate }}</a>
                        <a class="footer-menu-link" href="https://merchants.ducatus.com" target="_blank"
                            [attr.data-unactive]="'FOOTER.MENU.SECTION.SOON' | translate">{{ 'FOOTER.MENU.SECTION.FOUR.LINK_3' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-copyright">
            <span class="p__copyrights">© 2020 Ducatus | <a
                    routerLink="/legal">{{ 'FOOTER.MENU.LEGAL' | translate }}</a> |
                <a routerLink="/legal-disclaimer">{{ 'FOOTER.MENU.LEGAL_DISCLAIMER' | translate }}</a>
                | <a href='assets/downloads/pdf/Wallet_Terms_Conditions.pdf'
                    target='_blank'>{{ 'FOOTER.MENU.TERMS' | translate }}</a>
            </span>
        </div>
    </footer>

    <footer *ngIf="buyFooter" class="centurion-footer">
      <div class="centurion-footer-container">
        <div class="centurion-footer-logo">
          <img src="/assets/img/centurion.svg" alt="Centurion logo"/>
        </div>
        <div class="centurion-footer-text">Important Notice: www.centuriongm.com is owned by Centurion Global Limited (“Centurion Global” or the "Company"), with its registered office at Harneys Services (Cayman Limited), 4th Floor Harbour Place, 103 South Church Street, Grand Cayman, PO Box 10240, KY1-1002, Cayman Islands.
          <br />
          <br />
          By visiting this site, you agree to be bound by Centurion Global’s Terms of Use and Privacy Policy. Digital tokens offered by Centurion Global on this site are intended for qualified buyers who understand and accept the risks associated with the ownership of such digital assets. Each buyer is advised to conduct his/her own due diligence as none of Centurion Global or its affiliates provides any investment advice, business advice or tax or legal advice.
          <br />
          <br />
          THE INFORMATION PROVIDED ON THIS SITE IS NOT FOR CIRCULATION, DISPLAY, RECEPTION OR DISTRIBUTION IN SINGAPORE (INCLUDING TO THE PUBLIC OR ANY SECTION OF THE PUBLIC IN SINGAPORE) OR ANY OTHER JURISDICTION WHERE THE PRODUCTS OR SERVICES OF CENTURION GLOBAL OR ITS AFFILIATES WOULD BE PROHIBITED WITHOUT A REQUISITE LICENSE OR EXEMPTION. NEITHER CENTURION GLOBAL NOR ANY OF ITS AFFILIATES HEREBY OFFER ANY SERVICE THAT WOULD CONSTITUTE A PAYMENT SERVICE FOR PURPOSES OF THE SINGAPORE PAYMENT SERVICES ACT 2019, OR ANY OTHER ACTIVITY SUBJECT TO REGULATION BY THE MONETARY AUTHORITY OF SINGAPORE, IN SINGAPORE OR TO ANY PERSON IN SINGAPORE. NEITHER THE DUCATUS COIN NOR DUCATUSX IS AVAILABLE FOR SALE BY CENTURION GLOBAL IN SINGAPORE.
        </div>
        <div class="centurion-footer-links">
          <a href="https://centuriongm.com/#abouthome" class="link">About Centurion</a>
          <a href="https://centuriongm.com/#ourbusinesshome" class="link">Our Businesses</a>
          <a href="https://centuriongm.com/legal.html" class="link">Legal</a>
        </div>
        <div class="centurion-footer-copyright">© 2020 Ducatus</div>
      </div>
    </footer>
</ng-container>

<section class="section-cookie" *ngIf="privacyCookie">
    <span [innerHTML]="'PRIVACY.TEXT' | translate"></span>
    <div class="section-cookie-buttons">
        <span class="section-cookie-buttons-item"
            (click)="privacyCookie = false">{{ 'PRIVACY.BUTTON_DECLINE' | translate }}</span>
        <span id="accept_cookie" class="section-cookie-buttons-item"
            (click)="privacyCookieSet()">{{ 'PRIVACY.BUTTON_ACCEPT' | translate }}</span>
    </div>
</section>
