<section class="section-header-page" style="background-image: url(/assets/img/sections/vaucher-bg.png)">
  <div class="container">
    <h1 class="h1__title-page" [innerHTML]="'PAGE.RATE.TITLE' | translate">DUC/DUCX Price</h1>
  </div>
</section>
<section class="app rate">
  <div class="container">
    <form class="rate__form" (ngSubmit)="setRates()">
      <div class="rate__form-wrapper">
        <label class="rate__form-box">
          <div class="rate__form-label" [innerHTML]="'PAGE.RATE.PRICE' | translate">DUC price</div>
          <input type="number" class="rate__form-input" (input)="changeAmount($event, 'duc')" [formControl]="duc" />
        </label>
        <img src="/assets/img/rate/arrow.svg" alt="arrow" class="rate__form-arrow" />
        <label class="rate__form-box">
          <div class="rate__form-label" [innerHTML]="'PAGE.RATE.PRICEX' | translate">DUCX price</div>
          <input type="number" class="rate__form-input" [formControl]="ducx" (input)="changeAmount($event, 'ducx')" />
        </label>
      </div>
      <button [disabled]="!duc.value || !ducx.value" class="rate__form-btn ducatus-btn" [innerHTML]="'PAGE.RATE.APPLY' | translate">Apply</button>
    </form>
  </div>
</section>
