.button {
    width: 100%;
    padding: 15px 10px;
    display: block;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none !important;

    // &:hover {
    //     // box-shadow: 1px 3px 10px -5px #0000008f;
    //     box-shadow: 1px 3px 10px -5px $brown-red;
    // }

    &:hover {
        box-shadow: 0px 5px 10px -5px $black;
        background-color: $gold;
        border: 2px solid $gold;
        color: $brown-red;
        transform: translateY(-5px);
    }

    &-flat {
        box-shadow: none !important;
        transform: none !important;
    }

    &__transparent-white {
        border: 2px solid $white;
        color: $white;

        // &:hover {
        //     background-color: $brown-red;
        //     border: 2px solid $brown-red;
        //     color: $gold;
        // }
    }

    &__brown-red {
        background-color: $brown-red;
        border: 2px solid $brown-red;
        color: $white;

        // &:hover {
        //     background-color: transparent;
        //     border: 2px solid $brown-red;
        //     color: $brown-red;
        // }
    }
}