//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    @include clearfix;
    position: relative;

    @include b(1366) {
        padding: 0 70px;
    }

    @include b(900) {
        padding: 0 15px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.mt-130 {
    margin-top: 130px;

    @include b(750) {
        margin-top: 0;
    }
}

.mb-130 {
    margin-bottom: 130px;

    @include b(750) {
        margin-bottom: 0;
    }
}

.pb-200 {
    padding-bottom: 200px;

    @include b(750) {
        padding-bottom: 0;
    }
}