// =============================================
// main variables
// =============================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// =============================================
// additional variables
// =============================================


// =============================================
// colors
// =============================================

$black: #000;
$gray: #808080;
$white: #fff;
$blue: #00F;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter-1: #EFF0EB;
$beige-lighter-2: #F4F4F4;

$brown-red: #892734;
$gold-yellow: #E8C22C;
$dark-grey: #23241f;
$grey: #4d4c4d;
$gold: #D3C198;
$gold-2: #F0EAE3;
