<section class="section-app mt-130">
    <div class="section-app-wrap">
        <div class="container">
            <div class="section-app-block section-app-block-fill">
                <div class="section-app-block-wrap">
                    <div class="section-text">
                        <span class="section-app-line"></span>
                        <span class="section-app-title section-app-title-left">Install Ducatus Wallet</span>
                        <span class="section-app-text">Buy, Store & Sell Cryptos</span>
                    </div>
                    <div class="section-app-list">
                        <a href="https://wallet.ducatus.io/" target="_blank" class="download_ducatus"></a>
                        <a href="https://play.google.com/store/apps/details?id=io.ducatus.walnew" target="_blank" class="download_googleplay"></a>
                        <a href="https://apps.apple.com/us/app/ducatus-wallet-2-0-1/id1489722627?ign-mpt=uo%3D2" target="_blank" class="download_appstore"></a>
                    </div>
                </div>
            </div>
            <div class="section-app-block">
                <div class="section-app-block-wrap">
                    <div class="section-text">
                        <span class="section-app-line"></span>
                        <span class="section-app-title">How to get Ducatus Coins?</span>
                        <span class="section-app-text">Your Ducatus Coin experience starts when you download the Ducatus e-wallet.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="section-footer">
            <div class="footer-left">
                <div class="footer-logo"></div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/WeAreDucatus/" target="_blank" class="icon icon__facebook"></a>
                    <a href="https://twitter.com/DucatusGlobal" target="_blank" class="icon icon__twitter"></a>
                    <a href="https://instagram.com/ducatusglobal" target="_blank" class="icon icon__instagram"></a>
                    <a href="https://www.linkedin.com/company/ducatus-global" target="_blank" class="icon icon__linkedin"></a>
                    <a href="https://www.youtube.com/channel/UCBjE5LLJQyMq6crQholohTQ" target="_blank" class="icon icon__youtube"></a>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-menu" data-title="About">
                    <!-- <a class="footer-menu-link" [routerLink]="['/about']"target="_blank">About Ducatus</a> -->
                    <a class="footer-menu-link" routerLink="/about">About Ducatus</a>
                    <a class="footer-menu-link" href="https://www.ducatus.com">Ducatus Corporate</a>
                    <a class="footer-menu-link" routerLink="/contact">Contact</a>
                </div>
                <div class="footer-menu-same">
                    <div class="footer-menu" data-title="Ducatus Lifestyle">
                        <a class="footer-menu-link footer-menu-link-disable" data-unactive="coming soon" target="_blank">Ducatus Academy</a>
                        <a class="footer-menu-link footer-menu-link-disable" data-unactive="coming soon" target="_blank">Ducatus Cafe</a>
                        <a class="footer-menu-link footer-menu-link-disable" data-unactive="coming soon" target="_blank">Ducatus Charity</a>
                    </div>
                    <div class="footer-menu" data-title="Ducatus Lifestyle">
                        <a class="footer-menu-link footer-menu-link-disable" data-unactive="coming soon" target="_blank">Ducatus Health</a>
                        <a class="footer-menu-link" href="https://property.ducatus.com" data-unactive="coming soon" target="_blank">Ducatus Property</a>
                        <a class="footer-menu-link" href="https://travel.ducatus.com" data-unactive="coming soon" target="_blank">Ducatus Travel</a>
                    </div>
                </div>

                <div class="footer-menu" data-title="Ducatus Biz">
                    <a class="footer-menu-link" href="https://ducatus.net" target="_blank">Ducatus Network</a>
                    <a class="footer-menu-link" href="https://staydmob.com/" target="_blank">D-MOB</a>
                    <a class="footer-menu-link" href="https://merchants.ducatus.com" target="_blank" data-unactive="coming soon">Ducatus Merchants</a>
                </div>
            </div>
        </div>
        <div class="section-copyright">
            <span class="p__copyrights">© 2020 Ducatus | <a routerLink="/legal">Legal </a> | <a routerLink="/legal-disclaimer">Legal Disclaimer</a></span>
        </div>
    </div>
</footer>

<section class="section-cookie">
    This website uses cookies to ensure you get the best experience on our website. By continuing to use this website, you agree to their use.
    <div class="section-cookie-buttons">
        <span class="section-cookie-buttons-item">DECLINE</span>
        <span id="accept_cookie" class="section-cookie-buttons-item">ACCEPT</span>
    </div>
</section>